@use "function" as f;

.breadcrumb {

    &.bg-white {
        background-color: #fff;
    }

    ol {

        display: flex;
        align-items: center;
        gap: 15px;

        li {

            a,
            span {
                color: #B4B4B4;
                font-weight: 500;
                text-decoration: none;
                font-size: f.rem(12);
            }

            a {
                -webkit-transition: color 0.3s ease;
                transition: color 0.3s ease;
            }

            &.a-bold a,
            &.a-bold span {
                color: #000;

            }
        }
    }
}

@media screen and (min-width: 1024px) {


}

@media screen and (max-width:1023px) {
    .breadcrumb {
        padding-left: f.rem(16);
        padding-bottom: f.rem(12);
    }
}