@use "function" as f;
.product-detail{
    display: flex;
    padding-top: f.rem(40);
    gap: 12.25rem;
    .left{
        display: flex;
        width: f.rem(656.5);
    }
    .right{
        width: f.rem(560);
        .shopping-cart{
            .shopping-cart-top{
                border-bottom: f.rem(2)solid #D0D5DD;
                p{
                    color: grey;
                    font-size: f.rem(16);
                    font-weight: 400;
                }

                h2{
                    color: #07274A;
                    font-size: f.rem(36);
                    font-weight: 600;
                    padding-top: f.rem(20);
                }
                .price{
                    display: flex;
                    align-items: center;
                    gap: f.rem(10);
                    color: #015AAB;
                    padding-top: f.rem(28);
                    padding-bottom: f.rem(28);
                    .price-h3{
                        color: #667085;
                        text-decoration: line-through;
                    }
                    .btn-sale{
                        padding: f.rem(2);
                        background-color: #EB5757;
                        color: #FFFFFF;
                       display: flex;
                    }
                }


            }

        }

    }
}