@use "function" as f;

.product-detail {
  .product-detail-container {
    display: flex;
    padding-top: f.rem(40);
    gap: 9.25rem;
    padding-bottom: f.rem(120);
    padding: 0 f.rem(40);
    .left {
      display: flex;
      width: f.rem(656.5);
      gap: 6.875rem;
      .left-left {
      }
    }
    .right {
      width: f.rem(560);
      .shopping-cart {
        .shopping-cart-top {
          border-bottom: f.rem(2) solid #d0d5dd;
          p {
            color: grey;
            font-size: f.rem(16);
            font-weight: 400;
          }

          h2 {
            color: #07274a;
            font-size: f.rem(36);
            font-weight: 600;
            padding-top: f.rem(20);
          }
          .price {
            display: flex;
            align-items: center;
            gap: f.rem(10);
            color: #015aab;
            padding-top: f.rem(28);
            padding-bottom: f.rem(28);
            .price-h3 {
              color: #667085;
              text-decoration: line-through;
              font-weight: 400;
            }
            .btn-sale {
              padding: f.rem(2);
              background-color: #eb5757;
              color: #ffffff;
              display: flex;
            }
          }
        }
        .shopping-cart-bottom {
          padding-top: f.rem(28);
          color: #101828;
          font-weight: 400;
          font-size: f.rem(14);
          padding-bottom: f.rem(32);
          border-bottom: f.rem(2) solid #d0d5dd;
          .shopping-cart-p {
            display: flex;
            gap: f.rem(12);

            .p-bold {
              font-weight: 600;
            }
          }
          .shopping-cart-img {
            display: flex;
            gap: f.rem(5);
            padding-top: f.rem(5);
            cursor: pointer;
            .color-img {
              width: f.rem(69.87);
              height: f.rem(69.87);
              img {
                width: 100%;
                height: auto;
              }
            }
            .color-img:hover {
              border: f.rem(1) solid #015aab;
            }
          }

          .shopping-cart-vignette {
            padding-top: f.rem(20);
            .vignette-container {
              display: flex;
              flex-wrap: wrap;
              gap: f.rem(10);
              padding-top: f.rem(4);
              .padding-p {
                padding: f.rem(14) f.rem(10);
                font-weight: 500;
                cursor: pointer;
                border: 1px solid #d0d5dd;
                transition: all 0.2s;
                border-radius: f.rem(2);
              }
              .padding-p.active {
                background-color: #e0eefe;
                border-color: #015aab;
              }
              .padding-p:hover {
                background-color: #e0eefe;
                border-color: #015aab;
              }
            }
          }
          .number-floor {
            padding-top: f.rem(20);
            padding-bottom: f.rem(40);
            .number-floor-container {
              display: flex;
              flex-wrap: wrap;
              gap: f.rem(10);
              padding-top: f.rem(8);
              .padding-p {
                padding: f.rem(14) f.rem(10);
                font-weight: 500;
                cursor: pointer;
                border: 1px solid #d0d5dd;
                transition: all 0.2s;
                border-radius: f.rem(2);
              }
              .padding-p.active {
                background-color: #e0eefe;
                border-color: #015aab;
              }
              .padding-p:hover {
                background-color: #e0eefe;
                border-color: #015aab;
              }
            }
          }
          .btn-shopping-cart {
            display: flex;
            gap: f.rem(16);
            align-items: center;

            .quantity-control {
              display: flex;
              border-radius: f.rem(2);
              padding: f.rem(6) f.rem(10);
              gap: f.rem(43);
              font-size: f.rem(24);
              border: f.rem(1) solid #d0d5dd;
              align-items: center;
              .btn-number {
                width: f.rem(24);
                height: f.rem(24);
                font-size: 100%;
              }
            }
            .btn-add {
              font-size: f.rem(16);
              font-weight: 500;
              color: #ffffff;
              background-color: #015aab;
              width: f.rem(375);
              height: f.rem(48);
              display: flex;
              align-items: center;
              justify-content: space-evenly;
              cursor: pointer;
              span {
                font-size: f.rem(16);
                font-weight: 500;
                color: #ffffff;
                padding-left: f.rem(10);
              }
            }
          }
        }
      }
      .right-buy {
        padding-top: f.rem(32);
        font-weight: 600;
        color: #000000;
        .buy-p {
          font-size: f.rem(20);
          padding-bottom: f.rem(25);
        }
        .buy-product {
          display: flex;
          padding-bottom: f.rem(26);
          .product-container {
            width: f.rem(125);
            height: f.rem(188.87);
            .product-top {
              width: 100%;
            }
            .product-bottom {
              color: #242420;
              font-size: f.rem(12);
              padding-top: f.rem(10);
              p {
                &:first-child {
                  font-weight: 400;
                  padding-top: f.rem(6);
                }
              }
            }
          }
        }
        .add-to-cart {
          .cart-p {
            display: flex;
            gap: f.rem(7);
            justify-self: center;
            .p-all {
              font-size: f.rem(14);
              font-weight: 400;
              color: #242420;
            }
            .p-number {
              font-size: f.rem(14);
              font-weight: 600;
              color: #242420;
            }
          }
          .btn-cart {
            width: 100%;
            padding: f.rem(8) f.rem(16);
            border: f.rem(1) solid #015aab;
            margin-top: f.rem(9);
            border-radius: f.rem(4);
            button {
              width: 100%;
              color: #015aab;
              font-size: f.rem(14);
              font-weight: 500;
            }
          }
          .point {
            padding-bottom: f.rem(32);
            border-bottom: f.rem(2) solid #d0d5dd;
            margin-bottom: f.rem(32);
            font-weight: 400;
            .point-container {
              display: flex;
              gap: f.rem(8);
              align-items: center;
              justify-content: center;
              padding-top: f.rem(12);
              line-height: f.rem(22);
              span {
                font-weight: 600;
              }
            }
            img {
              width: f.rem(16);
              height: f.rem(16);
            }
          }
        }
      }
      .review-product {
        margin-bottom: f.rem(15);
        .review-product-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          p {
            color: #000000;
            font-size: f.rem(20);
            font-weight: 600;
            line-height: f.rem(28);
          }

          .review-product-img {
            width: f.rem(16);
            height: f.rem(16);
            img {
              color: #282930;
              width: 100%;
              height: auto;
            }
          }
        }
      }
      .write-comment {
        display: flex;
        justify-content: space-between;
        padding: f.rem(12) f.rem(16) f.rem(12) f.rem(24);
        align-items: center;
        border: f.rem(1) solid #777e90;
        border-radius: f.rem(4);
        .write-comment-left {
          color: #777e90;
          .custom-input::placeholder {
            font-size: f.rem(16);
            font-weight: 400;
            line-height: f.rem(24);
          }
          .custom-input {
            width: f.rem(288);
            height: f.rem(35);
          }
        }
        .write-comment-right {
          display: flex;
          align-items: center;
          gap: f.rem(16);
          color: #fcfcfd;
          font-size: f.rem(14);
          font-weight: 500;
          .comment-right-img {
            width: f.rem(20);
            height: f.rem(20);
            svg {
              width: 100%;
              height: 100%;
            }
          }
          .comment-right-btn {
            display: flex;
            align-items: center;
            gap: f.rem(12);
            background-color: #015aab;
            padding: f.rem(12) f.rem(16);
            border-radius: f.rem(4);
            cursor: pointer;
            svg {
              width: f.rem(10);
              height: f.rem(7);
            }
          }
        }
      }
      .notification {
        color: #23262f;
        display: flex;
        justify-content: space-between;
        margin-top: f.rem(24);
        margin-bottom: f.rem(32);
        align-items: center;
        .notification-left {
          font-size: f.rem(16);
          font-weight: 600;
        }
        .notification-right {
          font-size: f.rem(14);
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: f.rem(160);
          padding: f.rem(8) f.rem(8) f.rem(8) f.rem(16);
          border: f.rem(1) solid #d0d5dd;
          border-radius: f.rem(4);
          &--icon {
            color: #e6e8ec;
            svg {
              width: f.rem(32);
              height: f.rem(32);
            }
          }
        }
      }
      .comment {
        display: flex;
        gap: f.rem(20);
        border-bottom: 1px solid #d0d5dd;
        margin-bottom: f.rem(32);
        .comment-left {
        }
        .comment-right {
          width: 100%;
          .comment-right-top {
            display: flex;
            justify-content: space-between;
            color: #141416;
            font-size: f.rem(14);
            font-weight: 500;
            .comment-right-name {
              display: flex;
              gap: f.rem(4);
              line-height: f.rem(24);
            }
          }
          .comment-right-bottom {
            color: #353945;
            font-size: f.rem(14);
            font-weight: 400;
            line-height: f.rem(24);
            display: flex;
            flex-direction: column;
            gap: f.rem(8);
            padding-bottom: f.rem(27);
            .img-comment-container {
              display: flex;
              gap: f.rem(8);
            }
          }
        }
      }
      .comment-3 {
        display: flex;
        justify-content: center;
        padding-bottom: f.rem(32);
        border-bottom: 1px solid #d0d5dd;
        margin-bottom: f.rem(32);
        .comment-3-container {
          display: flex;
          gap: f.rem(12);
          padding: f.rem(12) f.rem(16);
          width: f.rem(190);
          color: #23262f;
          font-size: f.rem(14);
          font-weight: 700;
          border: 1px solid #e6e8ec;
          border-radius: f.rem(90);
          &--icon {
            width: f.rem(14);
            height: f.rem(14);
            svg {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .right-suport {
        padding: f.rem(16);
        display: flex;
        .right-sp {
          display: flex;
          width: 33.33%;
          justify-content: center;

          .right-sp-container {
            display: flex;
            flex-direction: column;
            gap: f.rem(16);
            align-items: center;
            color: #000000;
            font-size: f.rem(14);
            font-weight: 500;
            .sp-container-icon {
              img {
                width: f.rem(32);
                height: f.rem(32);
              }
            }
            .sp-container-p {
              text-align: center;
            }
          }
        }
        .right-border {
          border-left: 1px solid #d0d5dd;
        }
      }
    }
  }
  .infomation {
    padding: 0 f.rem(40);
    .infomation-header {
      color: #000000;
      font-size: f.rem(30);
      font-weight: 600;
      line-height: f.rem(38);
      text-align: center;
      margin-bottom: f.rem(52);
      text-transform: uppercase;
    }
    .infomation-content {
      color: #101828;
      font-weight: 400;
      font-size: f.rem(24);
      line-height: 160%;
      margin-bottom: f.rem(52);
      text-align: center;
    }
    .infomation-detail {
      padding: f.rem(60) f.rem(60) f.rem(60) f.rem(160);
      display: flex;
      gap: f.rem(263);
      background-color: #d0d5dd;
      margin-bottom: f.rem(60);
      .infomation-detail-right {
        width: f.rem(677);
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .direction {
    background-color: #055ca5;
    padding: f.rem(60) f.rem(40);
    color: #ffffff;
    .direction-top {
      display: flex;
      justify-content: space-between;
      .direction-top-left {
        font-size: f.rem(24);
        font-weight: 600;
      }
      .direction-top-right {
        display: flex;
        gap: f.rem(12);
        font-size: f.rem(16);
        font-weight: 400;
        .direction-img {
          width: f.rem(24);
          height: f.rem(24);
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .direction-bottom {
      margin-top: f.rem(32);
      background-color: #000000;
      width: 100%;
      height: f.rem(824);
    }
  }

  .safe {
    padding: f.rem(60) f.rem(40);
    &_wrap {
      display: flex;
      column-gap: f.rem(126);
    }
    &_thumb {
      width: 49.5588235294%;
      position: relative;
      &::before {
        content: "";
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        padding-top: 96.587537092%;
      }
      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        line-height: 0;
        -webkit-object-fit: cover;
        object-fit: cover;
      }
    }
    &_txt {
      flex: 1;
      .title {
        font-weight: 600;
        font-size: f.rem(24);
        line-height: 1.6;
        letter-spacing: 0px;
        text-transform: uppercase;
        margin-bottom: f.rem(32);
      }
      .text {
        font-weight: 400;
        font-size: f.rem(16);
        line-height: 1.6;
        letter-spacing: 0px;
      }
    }
  }

  .structure {
    padding: f.rem(60) f.rem(40);
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      line-height: 0;
      -webkit-object-fit: cover;
      object-fit: cover;
    }
    &_top {
      padding-left: f.rem(114);
      max-width: 50.1764705882%;
      margin-bottom: f.rem(42);
      .text {
        font-weight: 600;
        font-size: f.rem(24);
        line-height: 1.6;
        letter-spacing: 0px;
        text-transform: uppercase;
      }
    }
    &_bottom {
      display: flex;
      column-gap: f.rem(126);
      &-left {
        width: 49.5588235294%;
        position: relative;
        &::before {
          content: "";
          position: relative;
          display: block;
          width: 100%;
          height: auto;
          padding-top: 101.632047478%;
        }
      }
      &-right {
        flex: 1;
        &--img {
          width: 100%;
          position: relative;
          margin-bottom: f.rem(80);
          &::before {
            content: "";
            position: relative;
            display: block;
            width: 100%;
            height: auto;
            padding-top: 72.7598566308%;
          }
        }
        &--txt {
          .txt-item {
            display: flex;
            &:not(:last-child) {
              margin-bottom: f.rem(16);
            }
            .text {
              font-weight: 500;
              font-size: f.rem(16);
              line-height: 1.5;
              letter-spacing: 0px;
            }
            svg {
              min-width: f.rem(11);
              margin-top: f.rem(5);
              width: f.rem(11);
              height: f.rem(13);
              margin-right: f.rem(5);
            }
          }
        }
      }
    }
  }

  .bigimg {
    padding: f.rem(60) f.rem(40);
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      line-height: 0;
      -webkit-object-fit: cover;
      object-fit: cover;
    }
    &-img {
      width: 100%;
      position: relative;
      &::before {
        content: "";
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        padding-top: 100%;
      }
    }
  }

  .additional {
    padding: f.rem(60) f.rem(40);
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      line-height: 0;
      -webkit-object-fit: cover;
      object-fit: cover;
      border-radius: f.rem(8);
    }
    &_wrap {
      display: flex;
      column-gap: f.rem(126);
    }
    &_left {
      width: 49.5588235294%;
      position: relative;
      &::before {
        content: "";
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        padding-top: 101.632047478%;
      }
    }
    &_right {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &-img {
        width: 100%;
        position: relative;

        &::before {
          content: "";
          position: relative;
          display: block;
          width: 100%;
          height: auto;
          padding-top: 57.602862254%;
        }
      }
      &-txt {
        .title {
          font-weight: 600;
          font-size: f.rem(24);
          line-height: 1.6;
          letter-spacing: 0px;
          text-transform: uppercase;
          margin-bottom: f.rem(20);
        }
        .text {
          font-weight: 500;
          font-size: f.rem(16);
          line-height: 1.6;
          letter-spacing: 0px;
          &:not(:last-child) {
            margin-bottom: f.rem(16);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
}

@media screen and (max-width: 1023px) {
  .product-detail {
    .product-detail-container {
      flex-direction: column;
      gap: f.rem(40);
      padding: 0 f.rem(16);
      .left {
        flex-direction: column-reverse;
        width: 100%;
        gap: f.rem(16);
        &-left {
          display: flex;
          gap: f.rem(4);
          flex-wrap: wrap;
          .left-img {
            width: f.rem(65);
            height: f.rem(65);
            img {
              width: 100%;
              height: auto;
            }
          }
        }
        &-right {
          width: 100%;
          position: relative;
          &::before {
            content: "";
            position: relative;
            display: block;
            width: 100%;
            height: auto;
            padding-top: 113.017751479%;
          }
          img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            line-height: 0;
            -webkit-object-fit: cover;
            object-fit: cover;
            border-radius: f.rem(8);
          }
        }
      }
      .right {
        width: 100%;
        .shopping-cart {
          .shopping-cart-top {
            p {
              font-size: f.rem(14);
            }

            h2 {
              font-size: f.rem(20);
              padding-top: f.rem(6);
            }
            .price {
              font-size: f.rem(16);
              gap: f.rem(12);
              padding-top: f.rem(12);
              padding-bottom: f.rem(24);
              .btn-sale {
                padding: f.rem(2);
                font-size: f.rem(10);
                height: f.rem(22);
                width: f.rem(51);
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                  width: f.rem(12);
                  height: f.rem(12);
                }
              }
            }
          }
          .shopping-cart-bottom {
            padding-top: f.rem(24);
            font-size: f.rem(14);
            padding-bottom: f.rem(24);
            .shopping-cart-p {
              display: flex;
              gap: f.rem(12);

              .p-bold {
                font-weight: 600;
              }
            }
            .shopping-cart-img {
              gap: f.rem(8);
              padding-top: f.rem(2);
              img {
                width: f.rem(69.87);
                height: f.rem(69.87);
              }
            }

            .shopping-cart-vignette {
              padding-top: f.rem(16);
              .vignette-container {
                gap: f.rem(8);
                padding-top: f.rem(8);
                .padding-p {
                  padding: f.rem(8) f.rem(12);
                }
              }
            }
            .number-floor {
              padding-top: f.rem(16);
              padding-bottom: f.rem(24);
              .number-floor-container {
                gap: f.rem(8);
                padding-top: f.rem(8);
                .padding-p {
                  padding: f.rem(8) f.rem(12);
                }
              }
            }
            .btn-shopping-cart {
              gap: f.rem(12);
              .quantity-control {
                border-radius: f.rem(2);
                padding: f.rem(12);
                gap: f.rem(15);
                font-size: f.rem(16);
                .btn-number {
                  width: f.rem(20);
                  height: f.rem(20);
                  font-size: 100%;
                }
              }
              .btn-add {
                font-size: f.rem(16);
                width: f.rem(217);
                height: f.rem(48);
                span {
                  font-size: f.rem(16);
                  padding-left: f.rem(8);
                }
              }
            }
          }
        }
        .right-buy {
          padding-top: f.rem(24);
          .buy-p {
            font-size: f.rem(16);
            padding-bottom: f.rem(16);
          }
          .buy-product {
            gap: f.rem(12);
            padding-bottom: f.rem(20);
            .product-container {
              width: f.rem(117);
              height: fit-content;
              .product-top {
                width: 100%;
                img {
                  width: 100%;
                }
              }
              .product-bottom {
                font-size: f.rem(12);
                padding-top: f.rem(8);
                p {
                  &:first-child {
                    padding-bottom: f.rem(4);
                  }
                }
              }
            }
          }
          .add-to-cart {
            .point {
              padding-bottom: f.rem(24);
              margin-bottom: f.rem(24);
            }
          }
        }
        .review-product {
          margin-bottom: f.rem(16);
          .review-product-container {
            p {
              font-size: f.rem(16);
              line-height: f.rem(24);
            }
          }
        }
        .write-comment {
          padding: f.rem(20) f.rem(16);
          .write-comment-left {
            flex: 1;
            .custom-input {
              width: 100%;
              height: f.rem(32);
            }
          }
          .write-comment-right {
            width: f.rem(72);
            gap: f.rem(16);
            .comment-right-img {
              width: f.rem(24);
              height: f.rem(24);
            }
            .comment-right-btn {
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              width: f.rem(32);
              height: f.rem(32);
              padding: 0;
              svg {
                width: f.rem(14);
                height: f.rem(9);
              }
            }
          }
        }
        .notification {
          margin-top: f.rem(24);
          margin-bottom: f.rem(24);
        }
        .comment {
          margin-bottom: f.rem(24);
          .comment-left {
          }
          .comment-right {
            .comment-right-bottom {
              gap: f.rem(8);
              padding-bottom: f.rem(28);
            }
          }
        }
        .comment-3 {
          padding-bottom: f.rem(24);
          margin-bottom: f.rem(24);
          .comment-3-container {
            width: fit-content;
            padding: 0;
            height: f.rem(40);
            align-items: center;
            padding: 0 f.rem(16);
          }
        }
        .right-suport {
          padding: f.rem(0);
          margin-bottom: f.rem(24);
          .right-sp {
            .right-sp-container {
              gap: f.rem(8);
              font-size: f.rem(12);
            }
          }
        }
      }
    }
    .infomation {
      padding: 0 f.rem(16);
      padding-top: f.rem(30);

      .infomation-header {
        font-size: f.rem(20);
        line-height: 1.6;
        margin-bottom: f.rem(30);
      }
      .infomation-content {
        font-size: f.rem(16);
        margin-bottom: f.rem(32);
      }
      .infomation-detail {
        padding: f.rem(24) f.rem(16);
        flex-direction: column;
        gap: f.rem(40);
        margin-bottom: f.rem(30);
        border-radius: f.rem(8);
        .infomation-detail-left {
          width: 100%;
          img {
            width: 100%;
            height: auto;
          }
        }
        .infomation-detail-right {
          width: 100%;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
    .direction {
      padding: f.rem(30) f.rem(16);
      .direction-top {
        gap: f.rem(30);
        .direction-top-left {
          font-size: f.rem(16);
          font-weight: 600;
          flex: 1;
        }
        .direction-top-right {
          gap: f.rem(8);
          font-size: f.rem(14);
          
          .direction-img {
            width: f.rem(20);
            height: f.rem(20);
          }
        }
      }
      .direction-bottom {
        margin-top: f.rem(16);
        height: f.rem(195);
      }
    }

    .safe {
      padding: f.rem(20) f.rem(16);
      &_wrap {
        flex-direction: column-reverse;
        column-gap: f.rem(0);
        gap: f.rem(24);
      }
      &_thumb {
        width: 100%;
        &::before {
          padding-top: 96.501457725%;
        }
      }
      &_txt {
        flex: 1;
        .title {
          font-size: f.rem(16);
          margin-bottom: f.rem(16);
        }
        .text {
          font-size: f.rem(14);
        }
      }
    }

    .structure {
      padding: f.rem(20) f.rem(16);
      img {
        position: relative;
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
      }
      &_top {
        padding-left: 0;
        max-width: 100%;
        margin-bottom: f.rem(16);
        .text {
          font-size: f.rem(16);
        }
      }
      &_bottom {
        flex-direction: column-reverse;
        column-gap: f.rem(0);
        gap: f.rem(24);
        &-left {
          width: 100%;
          position: relative;
          &::before {
            display: none;
          }
        }
        &-right {
          flex: 1;
          &--img {
            width: 100%;
            position: relative;
            margin-bottom: f.rem(80);
            &::before {
              display: none;
            }
          }
          &--txt {
            .txt-item {
              display: flex;
              &:not(:last-child) {
                margin-bottom: f.rem(12);
              }
              .text {
                font-size: f.rem(14);
                font-weight: 400;
              }
              svg {
                margin-top: f.rem(2);
              }
            }
          }
        }
      }
    }

    .bigimg {
      padding: f.rem(20) f.rem(16);
    }

    .additional {
      padding: f.rem(20) f.rem(16);
      img {
        position: relative;
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
      }
      &_wrap {
        flex-direction: column-reverse;
        column-gap: f.rem(0);
        gap: f.rem(24);
      }
      &_left {
        width: 100%;
        &::before {
          display: none;
        }
      }
      &_right {
        width: 100%;
        &-img {
          &::before {
            display: none;
          }
        }
        &-txt {
          .title {
            font-size: f.rem(16);
            margin-bottom: f.rem(16);
          }
          .text {
            font-weight: 400;
            font-size: f.rem(14);
            &:not(:last-child) {
              margin-bottom: f.rem(16);
            }
          }
        }
      }
    }
  }
}
