@use "function" as f;

.products {
    background: #ffffff;
    padding: f.rem(120) 0;

    .title_block {
        padding: 0 f.rem(40);
        margin-bottom: f.rem(66);
    }

    &_wrap {
        .title_block {
            margin-bottom: f.rem(32);
        }
    }

    &-list {
        width: 100%;
        height: auto;

        .swiper-horizontal>.swiper-scrollbar {
            width: f.rem(444);
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        .swiper-wrapper {
            padding-bottom: f.rem(22);
        }

        .swiper-slide {
            height: auto;
        }

        .product {
            height: 100%;
            border-top: 1px solid rgba(0, 0, 0, 0.15);
            border-left: 1px solid rgba(0, 0, 0, 0.15);
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);

            &-txt {
                flex-grow: 1;
            }

        }
    }

}

@media screen and (min-width: 1024px) {}

@media screen and (min-width:1024px) and (max-width:1200px) {}

@media screen and (max-width:1023px) {

    .products {
        padding: f.rem(66) 0;
        .title_block {
            padding: 0 f.rem(15);
            margin-bottom: f.rem(20);
        }
        &-list {
            .swiper-horizontal>.swiper-scrollbar {
                display: none;
            }
            .action {
                padding: 0 f.rem(15);
                .link-but {
                    width: 100%;
                }
            }
        }
    }
}