@use "function" as f;

.header {
    position: fixed;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    z-index: 20;
    -webkit-transition: top .1s ease, background-color .2s ease-in;
    transition: top .1s ease, background-color .2s ease-in;

    &.header-in {
        .bg-menu-overlay {
            opacity: 1;
        }
    }

    &-container {
        width: 100%;
    }

    .select-language {

        .select-selected,
        .select-arrow {
            color: #fff;
        }

        .select-selected {
            font-size: f.rem(12);
        }

        .select-arrow {
            margin-left: f.rem(8);
        }

        .select-box {
            min-width: initial;
            width: 100px;
            padding: f.rem(5);
            -webkit-border-radius: f.rem(10);
            border-radius: f.rem(10);

            ul {
                padding: 0;
            }

            li {
                padding: f.rem(5) f.rem(12);
            }
        }
    }


    .support {
        margin-left: auto;
        display: flex;
        gap: f.rem(34);

        &-list {
            display: flex;
            align-items: center;
            gap: f.rem(34);

            li {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    right: f.rem(-17);
                    top: 0;
                    width: 1px;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.2);
                }
            }

            a {
                display: inline-flex;
                align-items: center;
                gap: f.rem(10);
                font-weight: 400;
                color: #fff;
                display: flex;
                font-size: f.rem(12);
                text-decoration: none;
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }
        }

        &-icon {
            width: f.rem(13);
            height: f.rem(12);

            svg {
                width: 100%;
                height: 100%;
            }
        }


    }

    &-top {
        background-color: var(--global-color);
        display: flex;
        align-items: center;
        height: f.rem(40);
        padding: 0 f.rem(40);
        -webkit-transition: background-color .2s ease-in;
        transition: background-color .2s ease-in;

        .promotion_tag {
            display: inline-flex;
            align-items: center;
            color: #fff;
            font-size: f.rem(12);
            gap: f.rem(12);
            font-family: var(--font-body);

            strong {
                font-weight: 600;
            }

            &-icon {
                width: f.rem(30);
                height: f.rem(16);

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    &-mid {
        position: relative;
        display: flex;
        padding: 0 f.rem(40);
        height: f.rem(80);
        background-color: #fff;
        align-items: center;
        -webkit-transition: background-color .2s ease-in;
        transition: background-color .2s ease-in;

        .logo {
            width: f.rem(186);
            line-height: 0;

            a {
                display: block;
                width: 100%;
                height: auto;
            }

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .nav {
        &-menu {
            display: flex;
            align-items: center;
            gap: f.rem(24);
            margin-left: f.rem(42);

            >li {

                >a {
                    color: #000;
                    font-weight: 500;
                    text-decoration: none;
                    text-transform: uppercase;
                    cursor: pointer;
                    font-size: f.rem(14);

                    span {
                        position: relative;

                        &::before {
                            content: '';
                            position: absolute;
                            bottom: -2px;
                            width: 0;
                            height: 2px;
                            background-color: #000;
                            -webkit-transition: opacity .25s;
                            transition: opacity .25s;
                            -webkit-transition: width .25s ease-in-out;
                            transition: width .25s ease-in-out;
                        }
                    }

                }

                &:hover {
                    >a {
                        span {
                            &::before {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    &-action {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: f.rem(20);


        .action-icon {
            display: inline-flex;
            width: f.rem(24);
            height: f.rem(24);
            align-items: center;
            justify-content: center;
            color: #000;
        }

        .search {
            display: flex;
            //width: f.rem(255);
            //border-bottom: 1px solid rgba(0, 0, 0, 0.4);
            //height: f.rem(26);
            //margin-right: 18px;

            &-input {
                display: block;
                flex-grow: 1;
                font-size: f.rem(14);
                color: #000;
                font-weight: 400;
                font-family: var(--font-body);
            }

            &-but {
                svg {
                    width: f.rem(20);
                    height: f.rem(20);
                }
            }

        }

        .mini-cart {

            svg {
                width: f.rem(22);
                height: f.rem(22);
            }
        }

        .user {
            display: flex;
            align-items: center;
            color: #000;
            gap: f.rem(8);
            cursor: pointer;

            &-avatar {
                svg {
                    width: f.rem(18);
                    height: f.rem(20);
                }
            }

            &-caption {
                font-size: f.rem(14);
                font-weight: 500;
                white-space: nowrap;
                max-width: f.rem(100);
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .icon-caret {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: f.rem(18);
                height: f.rem(18);

                svg {
                    width: f.rem(12);
                    height: f.rem(6);
                }
            }
        }


    }

    &.transparent {
        .header-top {
            background-color: rgba(1, 90, 171, 0);
        }

        .header-mid {
            background-color: rgba(255, 255, 255, 0);

            svg {
                filter: invert(1);
            }
        }

        .header-action .user-caption,
        .nav-menu>li>a {
            color: #fff;
        }

        .header-action .search {
            border-color: #fff;

            .search-input {
                color: #fff;
            }
        }
    }

    &.sticky {
        background-color: #fff;
        box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
        top: f.rem(-40);

        .header-top {
            background-color: var(--global-color);
        }

        .header-mid {
            background-color: #fff;

            svg {
                filter: invert(0);
            }
        }

        .nav-menu>li>a,
        .header-action .user-caption {
            color: #000;
        }

        .header-action .search {
            border-color: #000;

            .search-input {
                color: #000;
            }
        }
    }

}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    width: 100%;
    margin: 0;
    box-shadow: none;
    display: block;
    max-height: 0;
    overflow: auto;
    scrollbar-width: none;
    scrollbar-color: #7d7d7d #fff;
    padding: 0;
    border: 0;
    z-index: 1;


    &--customize {

        .container {
            display: flex;
        }

        .dropdown-menu--inner {
            flex-wrap: wrap;
            flex-grow: 1;

            .dropdown-menu--subitem {
                flex: 0 0 25%;
                max-width: 25%;
            }
        }

        .highlight-img {
            flex: 0 0 f.rem(256);
            max-width: f.rem(256);
            line-height: 0;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .container {
        padding: 40px f.rem(40);
        opacity: 0;
        visibility: hidden;
        transition: all 0s ease-in-out;
        transition-delay: 0s;

    }

    &--inner {
        display: flex;
        max-height: 100%;
        overflow: scroll;
        scrollbar-width: none;
    }

    &--subitem {
        padding: 0 5px;
        margin-bottom: 40px;

        &.is-group {
            display: flex;
            flex-direction: column;
        }
    }


    &--title,
    &--link {
        text-decoration: none;
    }

    &--title {
        display: inline-block;
        //font-size: clamp(12px, f.rem(16), 16px);
        font-size: f.rem(16);
        font-weight: 600;
        color: #000;
        //margin-bottom: clamp(10px, f.rem(18), 18px);
        margin-bottom: f.rem(18);
    }

    &--link {
        //font-size: clamp(12px, f.rem(16), 16px);
        font-size: f.rem(16);
        font-weight: 400;
        color: #000;
    }


    .container-list {
        li {
            margin-bottom: 10px;
        }
    }

    a {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: -2px;
            width: 0;
            height: 2px;
            //background-color: var(--global-color);
            background-color: #000;
            -webkit-transition: opacity .25s;
            transition: opacity .25s;
            -webkit-transition: width .25s ease-in-out;
            transition: width .25s ease-in-out;
        }

        &:hover {
            &::before {
                width: 100%;
            }
        }
    }

}

.push-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(f.rem(155), 1fr));
    gap: 40px;
    row-gap: 20px;
    width: 100%;
    max-width: calc(f.rem(310) * var(--item, 7) + f.rem(40) * var(--item, 7));

    &--item {
        text-decoration: none;
        color: #000;

        &::before {
            display: none;
        }

        .image-push-wrapper {
            width: 100%;
            height: auto;
            aspect-ratio: 310/227;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            margin-bottom: f.rem(16);

            img {
                width: 100%;
                height: 100%;
                -webkit-object-fit: cover;
                object-fit: cover;
            }
        }

        p {
            font-weight: 600;
            //font-size: clamp(12px, f.rem(16), 16px);
            font-size: f.rem(16);
            text-transform: initial;
        }
    }
}

.bg-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    width: 100%;
    height: 0;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    &::after {
        content: '';
        bottom: 0;
        left: 0;
        position: absolute;
        height: 0;
        width: 100%;
        background: linear-gradient(0deg, #fff 15%, hsla(0, 0%, 100%, 0));
        transition: none;
        pointer-events: none;
        transition-delay: .1s;
        //background-color: #f00;
    }
}

.bg-menu-overlay {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
}

@media screen and (min-width:1024px) {}

@media screen and (min-width:1024px) and (max-width:1200px) {}


@media screen and (min-width: 769px) {
    .header {
        &:hover {

            .header-top {
                background-color: var(--global-color);
            }

            .header-mid {
                background-color: #fff;

                svg {
                    filter: invert(0);
                }
            }

            .header-action .user-caption,
            .nav-menu>li>a {
                color: #000;
            }

            .header-action .search {
                border-color: #000;

                .search-input {
                    color: #000;
                }
            }

        }

        .nav {
            height: 100%;

            &-menu {
                height: 100%;
            }

            &-item {
                height: 100%;
                display: inline-flex;
                align-items: center;
            }
        }

        .nav-item {
            &.active {
                .dropdown-menu {
                    border-top: 1px solid #e1e1e1;
                    background-color: transparent;
                    max-height: calc(100vh - 200px);

                    .container {
                        opacity: 1;
                        visibility: visible;
                        transition: all .3s ease-in-out;
                        transition-delay: .25s;
                    }
                }
            }
        }

        &:not(.transparent) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            +.main {
                padding-top: f.rem(120);
            }
        }
    }
}

@media screen and (max-width:1023px) {

    .bg-menu,
    .bg-menu-overlay {
        display: none;
    }

    .header {

        &-top {
            padding: 0 f.rem(15);
            height: f.rem(34);

            .promotion_tag {
                font-size: f.rem(10);
            }

        }

        &-mid {
            padding: 0 f.rem(15);
            height: f.rem(50);

            .logo {
                width: f.rem(127);
                margin-left: f.rem(12);
            }

            .toggle-menu {
                width: f.rem(20);
                height: f.rem(20);

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &-action {
            gap: f.rem(12);

            .user {
                &-caption {
                    display: none;
                }
            }
        }

        .nav {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            padding-bottom: f.rem(60);
            background-color: #fff;
            display: none;
            overflow: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            z-index: 1;

            &-top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: f.rem(70);
                min-height: f.rem(70);
                padding: 0 f.rem(16);

                .logo {
                    margin: 0;
                }
            }


            .close-menu {
                width: f.rem(30);
                height: f.rem(30);
                cursor: pointer;
                display: inline-flex;
                align-items: center;
                justify-content: flex-end;

                svg {
                    width: f.rem(14);
                    height: f.rem(14);
                }
            }

            a:before,
            span::before {
                display: none;
            }

            &-menu {
                flex-grow: 1;
                width: 100%;
                max-height: 100%;
                display: block;
                margin: 0;
                padding: 0 f.rem(16);

                >li {
                    border-top: 1px solid #D9D9D9;
                }

                .dropdown-toggle,
                .normal-link {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: f.rem(20) 0;

                    svg {
                        width: f.rem(8);
                        height: f.rem(12);
                    }
                }

                .dropdown-back {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: f.rem(70);
                    min-height: f.rem(70);
                    padding: 0 f.rem(16);
                    border-bottom: 1px solid #D9D9D9;

                    .back-menu {
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        font-size: f.rem(18);
                        font-weight: 500;
                        gap: f.rem(14);

                        svg {
                            width: f.rem(18);
                            height: f.rem(10);
                        }
                    }
                }

                .dropdown-menu {
                    background-color: #fff;
                    display: block;
                    width: 100%;
                    position: fixed;
                    height: var(--winH, 100vh);
                    top: 0;
                    left: 0;
                    -webkit-transition: transform .3s ease-in-out;
                    transition: transform .3s ease-in-out;
                    -webkit-transform: translateX(100%);
                    transform: translateX(100%);
                    max-height: none;
                    z-index: 1;
                    overflow: hidden;

                    .container {
                        opacity: 1;
                        visibility: visible;
                        padding: 0;

                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                    }

                    &--customize {
                        .dropdown-menu--subitem {
                            flex: 0 0 100%;
                            max-width: 100%;
                        }

                        .dropdown-menu--inner {
                            padding: f.rem(16);
                            padding-top: 0;
                            display: block;
                        }

                        .dropdown-menu--subitem {
                            padding: 0;
                            border-bottom: 1px solid #D9D9D9;
                            margin-bottom: f.rem(0);

                            &.is-group {
                                border: none;
                            }

                            .dropdown-menu--link {
                                font-size: f.rem(14);
                            }
                        }

                        .container-list {
                            height: var(--data-h, 0px);
                            overflow: hidden;
                            -webkit-transition: height 0.4s linear;
                            transition: height 0.4s linear;

                            ul {
                                padding-bottom: f.rem(16);
                                padding-left: f.rem(18);
                            }
                        }
                    }

                }

                .push-content {
                    padding: f.rem(16) f.rem(16) f.rem(45) f.rem(16);
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 16px;
                    row-gap: 20px;
                    flex-grow: 1;
                    max-height: 100%;

                    &[data-item="2"] {
                        grid-template-columns: repeat(1, 1fr);
                    }

                    overflow: hidden;
                    overflow-y: auto;
                    -webkit-overflow-scrolling: touch;
                }


                .dropdown-menu--title {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 0;
                    padding: f.rem(20) 0;

                    &.current {
                        .icon-toggle {
                            .icon-increase {
                                opacity: 0;
                            }

                            .icon-decrease {
                                opacity: 1;
                            }
                        }
                    }

                    .icon-toggle {
                        position: relative;
                        width: f.rem(24);
                        height: f.rem(24);
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        color: var(--global-color);

                        .icon-increase,
                        .icon-decrease {
                            -webkit-transition: opacity 0.3s ease-in-out;
                            transition: opacity 0.3s ease-in-out;
                        }

                        .icon-decrease {
                            opacity: 0;
                        }

                        svg {
                            width: f.rem(14);
                            position: absolute;
                            height: f.rem(14);
                        }
                    }
                }



            }

            &-bot {
                width: 100%;
                padding: f.rem(16);
                margin-top: auto;

                .support {
                    background-color: #F2F4F7;
                    display: block;
                    padding: f.rem(10) f.rem(20);
                    -webkit-border-radius: f.rem(12);
                    border-radius: f.rem(12);

                    &-list {
                        display: block;

                        li {
                            &::after {
                                display: none;
                            }

                            border-bottom: 1px solid #D9D9D9;
                        }

                        a {
                            color: #1D2939;
                            padding: f.rem(17) 0;
                            font-size: f.rem(12);
                        }
                    }

                    &-icon {
                        width: f.rem(16);
                        height: f.rem(16);
                    }
                }

                .select-language {
                    display: inline-flex;

                    .select-selected,
                    .select-arrow {
                        color: #1D2939;
                    }

                    .select-selected {
                        font-size: f.rem(12);
                    }

                    .select-header {
                        padding: f.rem(17) 0;
                    }

                    .select-box {
                        right: auto;
                        left: 0;
                        top: auto;
                        bottom: 100%;
                    }
                }


            }
        }

        &.sticky {
            // top: f.rem(-34);

            // .nav {
            //     top: f.rem(50);

            //     &-menu {
            //         .dropdown-menu {
            //             height: calc(var(--winH) - f.rem(5));
            //             top: f.rem(50);
            //         }
            //     }
            // }
        }

        &:not(.transparent) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            +.main {
                padding-top: f.rem(82);
            }
        }

        &.open-menu {
            background-color: #fff;

            .header-top {
                background-color: rgba(1, 90, 171, 1);
            }

            .header-mid {
                background-color: #fff;

                svg {
                    filter: invert(0);
                }
            }

            .nav-menu>li>a {
                color: #000;
            }

            .header-action .search {
                border-color: #000;

                .search-input {
                    color: #000;
                }
            }

            .nav {
                display: flex;
                flex-direction: column;

                li {
                    cursor: pointer;

                    &.current {
                        .dropdown-menu {
                            -webkit-transform: translateX(0);
                            transform: translateX(0);
                        }
                    }
                }

            }
        }

    }
}