@use "function" as f;

.new {
    &-banner {
        width: 100%;
        height: auto;
        //background: linear-gradient(180deg, rgba(0, 0, 0, 0) 38.6%, rgba(0, 0, 0, 0.5) 84.16%);

        &--img {
            width: 100%;
            height: auto;
            line-height: 0;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}