@use "function" as f;

.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0s ease-in-out;
    transition-delay: 0s;
    padding: .5em 2.5rem 0;
    overflow: hidden;

    &.open {
        opacity: 1;
        visibility: visible;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        -webkit-transition-delay: .25s;
        transition-delay: .25s;
    }

    &-inr {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    &-close {
        position: absolute;
        right: f.rem(20);
        top: f.rem(20);
        width: f.rem(48);
        height: f.rem(48);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
        border: 1px solid #D7D7D7;
        box-shadow: 0px 4px 14px 0px #BFBFBF3D;
        -webkit-border-radius: f.rem(4);
        border-radius: f.rem(4);
        cursor: pointer;

        img {
            width: f.rem(24);
            height: a;
        }
    }
}

.popup-mess {
    position: relative;
    width: 90%;
    max-width: f.rem(500);
    background-color: #fff;
    -webkit-border-radius: f.rem(8);
    border-radius: f.rem(8);
    padding: f.rem(45);
}

.mess-icon {
    width: f.rem(58);
    height: auto;
    line-height: 0;
    margin: 0 auto f.rem(20) auto;

    img {
        width: 100%;
        height: auto;
    }
}

.mess-title {
    font-size: f.rem(24);
    font-weight: 600;
    text-align: center;
    margin-bottom: f.rem(20);
}

.mess-content {
    font-size: f.rem(16);
    font-weight: 400;
    text-align: center;
}


@media screen and (max-width: 1023px) {
    .popup {
        &-close {
            top: f.rem(10);
            right: f.rem(10);
        }
    }

    .popup-mess {
        width: calc(100% - f.rem(32));
        padding: f.rem(30);
    }

    .mess-title {
        font-size: f.rem(20);
    }

    .mess-content {
        font-size: f.rem(14);
    }

}