@use "function" as f;
.profile {
  padding: f.rem(40) f.rem(40) 0 f.rem(40);
  &_content {
    margin-top: f.rem(24);
    border-top: 2px solid #000000;
    display: flex;
    .tab {
      width: 30.6617647059%;
      min-width: 30.6617647059%;
      padding: f.rem(50) f.rem(40) f.rem(120) 0;
      border-right: 1px solid #d0d5dd;
      border-bottom: none;
      margin-bottom: 0;
      .tab-list {
        flex-direction: column;
        gap: f.rem(28);
        .tab-item {
          display: flex;
          gap: f.rem(12);
          color: #000000;
          font-weight: 500;
          font-size: f.rem(16);
          line-height: 1.5;
          letter-spacing: 0;
          padding: 0;
          &.current {
            color: #015aab;
          }
          &::after {
            display: none;
          }
          svg {
            width: f.rem(24);
            height: f.rem(24);
          }
        }
      }
    }
  }
  &-detail {
    flex: 1;
    position: relative;
    padding: f.rem(50) 0 f.rem(120) f.rem(40);
    &--item {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;

      opacity: 0;
      -webkit-transition: opacity 0.3s linear;
      transition: opacity 0.3s linear;
      pointer-events: none;

      &.current {
        position: relative;
        left: auto;
        top: auto;
        opacity: 1;
        pointer-events: all;
      }
    }
  }
  .account {
    position: relative;
    &--item {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;

      opacity: 0;
      -webkit-transition: opacity 0.3s linear;
      transition: opacity 0.3s linear;
      pointer-events: none;

      &.current {
        position: relative;
        left: auto;
        top: auto;
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
}

@media screen and (max-width: 768px) {
}
