html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

strong {
  font-weight: 700;
}

.breadcrumb {
  padding: 1.5rem 2.5rem;
}
.breadcrumb ul {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.breadcrumb ul li a,
.breadcrumb ul li span {
  font-weight: 500;
  text-decoration: none;
  font-size: 0.75rem;
}
.breadcrumb ul li a {
  color: #B4B4B4;
}
.breadcrumb ul li span {
  color: #242420;
}

@media screen and (max-width: 1023px) {
  .breadcrumb {
    padding: 1rem;
  }
  .breadcrumb ul {
    gap: 0.625rem;
  }
  .breadcrumb li a,
  .breadcrumb li span {
    font-size: 0.75rem;
  }
}
:root {
  --global-color: #015aab;
  --global-colorA: 1, 90, 171;
  --global-color-dark: #07274a;
  --font-body: "Montserrat", sans-serif;
  --g-blue: linear-gradient(
    180deg,
    rgba(10, 124, 220, 0) 23.17%,
    rgba(5, 92, 165, 0.95) 88.61%
  );
}

body {
  font-family: var(--font-body);
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  color: #000;
}

input,
button,
textarea {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
}

button {
  cursor: pointer;
}

.hide {
  display: none !important;
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}

.page,
.section {
  width: 100%;
  height: auto;
}

.container,
.container-full {
  width: 100%;
  height: auto;
}

.section {
  position: relative;
  overflow: hidden;
}

h1,
.h1 {
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1.035714286;
}

.mini-title {
  font-size: 1.875rem;
  font-weight: 600;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: nowrap;
}

.ali-s {
  align-items: flex-start;
}

.ali-c {
  align-items: center;
}

.ali-e {
  align-items: flex-end;
}

.jus-s {
  justify-content: flex-start;
}

.jus-c {
  justify-content: center;
}

.jus-e {
  justify-content: end;
}

.jus-b {
  justify-content: space-between;
}

.text-c {
  text-align: center;
}

.text-f {
  text-align: left;
}

.text-r {
  text-align: right;
}

.text-j {
  text-align: justify;
}

.hide-text {
  font-size: 0;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.box-center {
  text-align: center;
}

.img {
  line-height: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.zoom-img {
  overflow: hidden;
}

.zoom-img img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.zoom-img:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

input[type=number] {
  -moz-appearance: textfield;
}

.all-but {
  background-color: #414042;
  color: #fff;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.stroke-but {
  background-color: #fff;
  color: #414042;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 1px solid #414042;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.input-txt {
  width: 100%;
  height: auto;
}

.main {
  width: 100%;
  height: auto;
}

.product {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 3.125rem 1.25rem 1.625rem 1.25rem;
  display: flex;
  flex-direction: column;
}
.product-img {
  line-height: 0;
  width: 14.0625rem;
  height: 13.875rem;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 4.375rem;
}
.product-img img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.product-txt {
  display: flex;
  flex-direction: column;
}
.product-txt .name {
  color: #000;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 0.8125rem;
}
.product-txt .model {
  color: #475467;
  font-weight: 500;
  font-size: 0.75rem;
  margin-top: 0.8125rem;
}
.product-txt .price {
  margin-top: auto;
  font-size: 1rem;
  display: flex;
  gap: 0.625rem;
}
.product-txt .price .sale {
  font-weight: 700;
  color: var(--global-color);
}
.product-txt .price .old {
  font-weight: 400;
  text-decoration: line-through;
  color: #667085;
}
.product .tag {
  position: absolute;
  left: 1.25rem;
  top: 1.25rem;
}
.product .compare {
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
}
.product .color {
  margin-top: 0.875rem;
  margin-bottom: 1.25rem;
}

.article-banner {
  display: flex;
  flex-direction: column;
}
.article-banner--img {
  width: 100%;
  aspect-ratio: 361/341;
}
.article-banner--img img {
  width: 100%;
  height: 100%;
}
.article-banner--txt {
  padding: 1.25rem;
  background: linear-gradient(180deg, #015aab 0%, #82c3ff 109.43%);
  color: #fff;
}
.article-banner--txt .title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
}
.article-banner--txt .btn-arrow {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fff;
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #282930;
}
.article-banner--txt .btn-arrow svg {
  width: 0.75rem;
  height: 0.5625rem;
}

.project {
  position: relative;
  width: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.project.project-big .name {
  font-size: 1.5rem;
}
.project.project-big .but-link {
  margin-top: 1.5rem;
}
.project-img {
  line-height: 0;
  width: 100%;
  height: auto;
  line-height: 0;
  margin-bottom: 1.25rem;
}
.project-img img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.project-txt {
  display: flex;
  flex-direction: column;
}
.project-txt .sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.4;
  letter-spacing: 0;
  color: #000000;
}
.project-txt .sub .date {
  font-weight: 400;
  color: #475467;
}
.project-txt .name {
  color: #000;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.3;
  margin-top: 0.75rem;
}
.project-txt .text {
  color: #000;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0.5rem;
}
.project-txt .but-link {
  color: #015aab;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 1.25rem;
}
.project-txt .but-link svg {
  width: 0.8125rem;
  height: 0.5rem;
  margin-left: 0.5rem;
}

.tag-item {
  font-weight: 500;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: var(--color-tag, #fff);
  background-color: var(--bg-tag, #eb5757);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.375rem;
  height: 1.375rem;
  padding: 0 0.625rem;
  font-size: 0.75rem;
}
.tag-item svg {
  width: 0.75rem;
  height: 1rem;
}

.compare-item {
  font-weight: 500;
  color: #000;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.75rem;
  cursor: pointer;
}
.compare-item svg {
  width: 0.5rem;
  height: 0.5rem;
}

.color {
  display: flex;
  gap: 0.375rem;
}
.color li {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--color-pro, #000);
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.card {
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;
  margin: 0 auto;
  padding: 1.875rem;
}
.card-img {
  display: flex;
  width: 6.25rem;
  height: 6.25rem;
  line-height: 0;
  margin: 0 auto;
  margin-bottom: 1.25rem;
  align-items: center;
  justify-content: center;
}
.card-img img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.card-txt h3 {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 600;
  text-align: center;
}
.card-txt .price {
  color: var(--global-color);
  font-size: 1.25rem;
  text-align: center;
  font-weight: 700;
  margin-top: 0.875rem;
}

.block-nav {
  display: flex;
  gap: clamp(4px, 0.25rem, 0.25rem);
}

.nav-prev,
.nav-next {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.36);
  cursor: pointer;
}
.nav-prev svg,
.nav-next svg {
  width: 0.25rem;
  height: 0.5rem;
}

.nav-prev svg {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.link-but {
  display: inline-flex;
  background-color: var(--global-color);
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  align-items: center;
  gap: 0.5rem;
  height: 3rem;
  border: 1px solid var(--global-color);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.0509803922);
  text-decoration: none;
  padding: 0 1.125rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.link-but.transparent {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
}
.link-but.blue {
  color: var(--global-color);
}
.link-but.white {
  background-color: #fff;
  color: #344054;
  border-color: #d0d5dd;
}
.link-but.underline {
  text-decoration: underline;
  height: auto;
}
.link-but svg {
  width: 1rem;
  height: 1rem;
}

.title_block .sub-title {
  color: var(--global-color);
  font-weight: 400;
  font-size: 2.25rem;
}
.title_block h2 {
  color: var(--global-color);
  font-weight: 700;
  font-size: 2.25rem;
}

.nav-overlay li {
  margin-bottom: 1.25rem;
}
.nav-overlay li.current a,
.nav-overlay li.current span {
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.nav-overlay li.current a::before,
.nav-overlay li.current span::before {
  width: 100%;
}
.nav-overlay a,
.nav-overlay span {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  font-weight: 500;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  cursor: pointer;
}
.nav-overlay a::before,
.nav-overlay span::before {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  -webkit-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
}
.nav-overlay a:hover,
.nav-overlay span:hover {
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.nav-overlay a:hover::before,
.nav-overlay span:hover::before {
  width: 100%;
}

.article {
  position: relative;
  width: 100%;
}
.article-img {
  width: 100%;
  height: auto;
  line-height: 0;
}
.article-img img {
  width: 100%;
  height: auto;
}
.article-txt {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 1.875rem;
  font-weight: 400;
  z-index: 1;
  padding: 0 1.875rem 1.875rem 1.875rem;
  color: #fff;
}
.article-txt p {
  margin-bottom: 0.625rem;
}
.article-txt h3 {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 1.266666667;
  color: #fff;
  margin-bottom: 0.9375rem;
}
.article.g-blue::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--g-blue);
}

.sub-banner {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 3.75rem;
}
.sub-banner--img {
  position: relative;
  width: 100%;
  height: auto;
  line-height: 0;
}
.sub-banner--img::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 38.6%, rgba(0, 0, 0, 0.5) 84.16%);
}
.sub-banner--img img {
  width: 100%;
  height: auto;
}
.sub-banner--txt {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
.sub-banner--txt .title_block .sub-title,
.sub-banner--txt .title_block h1 {
  color: #fff;
  font-size: 2.25rem;
}
.sub-banner--txt .title_block h1 {
  font-weight: 700;
}

.tab {
  width: 100%;
  height: auto;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #d0d5dd;
}
.tab-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.tab-item {
  font-size: 1rem;
  color: #667085;
  font-weight: 500;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  padding: 1.25rem 0;
  position: relative;
  cursor: pointer;
}
.tab-item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #000;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.tab-item.current, .tab-item:active {
  color: #000;
}
.tab-item.current::after, .tab-item:active::after {
  width: 100%;
}

.paging {
  width: 100%;
}
.paging_box, .paging_block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.paging-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background-color: rgba(var(--global-colorA), 0);
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.333333333;
  letter-spacing: 0;
  cursor: pointer;
  color: #667085;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.paging-item.active, .paging-item:active {
  background-color: rgba(var(--global-colorA), 1);
  color: #fff;
}
.paging-next, .paging-prev {
  color: #282930;
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.paging-next svg, .paging-prev svg {
  width: 0.75rem;
  height: 0.75rem;
}

.select {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 0.875rem;
  font-weight: 500;
}
.select.open .select-box {
  display: block;
}
.select-selected {
  font-weight: 600;
}
.select-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.select-arrow {
  width: 1.125rem;
  height: 1.125rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.625rem;
}
.select-arrow svg {
  width: 0.75rem;
  height: 0.375rem;
}
.select-box {
  position: absolute;
  right: 0;
  top: 100%;
  width: 100%;
  height: auto;
  min-width: 12.5rem;
  box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.1019607843);
  background-color: #fff;
  padding: 0.5rem 0.3125rem;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  z-index: 2;
  display: none;
}
.select-box ul {
  padding: 0.3125rem;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  -webkit-overflow-scrolling: touch;
  max-height: 400px;
}
.select-box ul li {
  padding: 0.4375rem 0.75rem;
  color: #000;
  cursor: pointer;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.select-box ul li.selected, .select-box ul li:active {
  color: var(--global-color);
}

@media screen and (min-width: 1025px) {
  .paging-item:hover {
    background-color: rgba(var(--global-colorA), 1);
    color: #fff;
  }
  .select-box ul li:hover {
    color: var(--global-color);
  }
  .tab-item:hover {
    color: #000;
  }
  .tab-item:hover::after {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 1.125vw;
  }
  .title h2 {
    font-weight: 300;
    font-size: 2.6041666667vw;
    color: #6d6465;
  }
  .all-but {
    font-size: 0.78125vw;
    padding: 0.625vw 2.3958333333vw;
  }
  .all-but:hover {
    background-color: #ef3d29;
    color: #fff;
  }
  .stroke-but {
    font-size: 0.78125vw;
    padding: 0.625vw 2.3958333333vw;
  }
  .stroke-but:hover {
    background-color: #ef3d29;
    border-color: #ef3d29;
    color: #fff;
  }
  .sp {
    display: none !important;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .title h2 {
    font-size: 22px;
  }
  .all-but,
  .stroke-but {
    font-size: 13px;
    padding: 15px 30px;
  }
}
@media screen and (max-width: 1023px) {
  h1,
  .h1 {
    font-size: 2rem;
    line-height: 1.2;
  }
  .nav-overlay {
    display: flex;
    gap: 1.25rem;
  }
  .nav-overlay li {
    margin-bottom: 0;
  }
  .nav-overlay li a,
  .nav-overlay li span {
    font-size: 0.875rem;
  }
  .article-txt {
    font-size: 1.25rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
  .article-txt h3 {
    font-size: 1.25rem;
  }
  .product {
    padding: 1.25rem 0.625rem;
  }
  .product-img {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
  .product-txt .model {
    font-size: 0.625rem;
  }
  .product-txt .name {
    font-size: 0.875rem;
  }
  .product-txt .price {
    font-size: 0.875rem;
  }
  .article-banner--img {
    aspect-ratio: 242/257;
  }
  .article-banner--txt {
    padding: 0.875rem;
    color: #fff;
  }
  .article-banner--txt .title {
    font-size: 0.875rem;
  }
  .article-banner--txt .btn-arrow {
    width: 1.4375rem;
    height: 1.4375rem;
    margin-top: 0.5rem;
  }
  .article-banner--txt .btn-arrow svg {
    width: 0.5625rem;
    height: 0.4375rem;
  }
  .mini-title {
    font-size: 1.25rem;
  }
  .pc {
    display: none !important;
  }
  .title_block .sub-title {
    font-size: 1.5rem;
  }
  .title_block h2 {
    font-size: 1.5rem;
  }
  .card-img {
    width: 5rem;
    height: 5rem;
    margin-bottom: 1.375rem;
  }
  .card-txt h3 {
    font-size: 0.875rem;
    line-height: 1.6;
  }
  .title h2 {
    font-size: 4.8vw;
  }
  .all-but,
  .stroke-but {
    font-size: 3.2vw;
    padding: 2.6666666667vw 6.6666666667vw;
  }
  .project.project-big .name {
    font-size: 1rem;
  }
  .project.project-big .but-link {
    margin-top: 1.25rem;
  }
  .project-img {
    width: 100%;
    aspect-ratio: 343/220;
    margin-bottom: 1.25rem;
  }
  .project-txt {
    display: flex;
    flex-direction: column;
  }
  .project-txt .name {
    font-size: 1rem;
    margin-top: 0.75rem;
  }
  .project-txt .text {
    font-size: 0.875rem;
  }
  .project-txt .but-link {
    font-size: 0.875rem;
    margin-top: 1.25rem;
  }
  .project-txt .but-link svg {
    width: 0.8125rem;
    height: 0.5rem;
    margin-left: 0.5rem;
  }
  .sub-banner {
    margin-bottom: 1.25rem;
  }
  .sub-banner--img {
    aspect-ratio: 375/180;
  }
  .sub-banner--img img {
    width: 100%;
    height: 100%;
    -webkit-object-fit: cover;
    object-fit: cover;
  }
  .sub-banner--txt .title_block .sub-title,
  .sub-banner--txt .title_block h1 {
    font-size: 1.5rem;
  }
  .mobile-scroll {
    display: block;
    margin: 0 auto;
    width: calc(100% - 2rem);
    height: auto;
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .tab-list {
    white-space: nowrap;
    justify-content: flex-start;
    gap: 1.375rem;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 4.2875vw;
  }
}
.loading__box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  display: none;
}

.loading__box.active {
  display: block;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -40px 0 0 -40px;
  border: 8px solid #000;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border-top: 8px solid #fff;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 0.5s linear infinite;
  animation: spin 0.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.header {
  position: fixed;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  z-index: 20;
  -webkit-transition: top 0.1s ease, background-color 0.2s ease-in;
  transition: top 0.1s ease, background-color 0.2s ease-in;
}
.header.header-in .bg-menu-overlay {
  opacity: 1;
}
.header-container {
  width: 100%;
}
.header .select-language .select-selected,
.header .select-language .select-arrow {
  color: #fff;
}
.header .select-language .select-selected {
  font-size: 0.75rem;
}
.header .select-language .select-arrow {
  margin-left: 0.5rem;
}
.header .select-language .select-box {
  min-width: initial;
  width: 100px;
  padding: 0.3125rem;
  -webkit-border-radius: 0.625rem;
  border-radius: 0.625rem;
}
.header .select-language .select-box ul {
  padding: 0;
}
.header .select-language .select-box li {
  padding: 0.3125rem 0.75rem;
}
.header .support {
  margin-left: auto;
  display: flex;
  gap: 2.125rem;
}
.header .support-list {
  display: flex;
  align-items: center;
  gap: 2.125rem;
}
.header .support-list li {
  position: relative;
}
.header .support-list li::after {
  content: "";
  position: absolute;
  right: -1.0625rem;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
.header .support-list a {
  display: inline-flex;
  align-items: center;
  gap: 0.625rem;
  font-weight: 400;
  color: #fff;
  display: flex;
  font-size: 0.75rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header .support-icon {
  width: 0.8125rem;
  height: 0.75rem;
}
.header .support-icon svg {
  width: 100%;
  height: 100%;
}
.header-top {
  background-color: var(--global-color);
  display: flex;
  align-items: center;
  height: 2.5rem;
  padding: 0 2.5rem;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.header-top .promotion_tag {
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-size: 0.75rem;
  gap: 0.75rem;
  font-family: var(--font-body);
}
.header-top .promotion_tag strong {
  font-weight: 600;
}
.header-top .promotion_tag-icon {
  width: 1.875rem;
  height: 1rem;
}
.header-top .promotion_tag-icon svg {
  width: 100%;
  height: 100%;
}
.header-mid {
  position: relative;
  display: flex;
  padding: 0 2.5rem;
  height: 5rem;
  background-color: #fff;
  align-items: center;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.header-mid .logo {
  width: 11.625rem;
  line-height: 0;
}
.header-mid .logo a {
  display: block;
  width: 100%;
  height: auto;
}
.header-mid .logo img {
  width: 100%;
  height: auto;
}
.header .nav-menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-left: 2.625rem;
}
.header .nav-menu > li > a {
  color: #000;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.875rem;
}
.header .nav-menu > li > a span {
  position: relative;
}
.header .nav-menu > li > a span::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #000;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  -webkit-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
}
.header .nav-menu > li:hover > a span::before {
  width: 100%;
}
.header-action {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.header-action .action-icon {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  color: #000;
}
.header-action .search {
  display: flex;
}
.header-action .search-input {
  display: block;
  flex-grow: 1;
  font-size: 0.875rem;
  color: #000;
  font-weight: 400;
  font-family: var(--font-body);
}
.header-action .search-but svg {
  width: 1.25rem;
  height: 1.25rem;
}
.header-action .mini-cart svg {
  width: 1.375rem;
  height: 1.375rem;
}
.header-action .user {
  display: flex;
  align-items: center;
  color: #000;
  gap: 0.5rem;
  cursor: pointer;
}
.header-action .user-avatar svg {
  width: 1.125rem;
  height: 1.25rem;
}
.header-action .user-caption {
  font-size: 0.875rem;
  font-weight: 500;
  white-space: nowrap;
  max-width: 6.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header-action .user .icon-caret {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.125rem;
  height: 1.125rem;
}
.header-action .user .icon-caret svg {
  width: 0.75rem;
  height: 0.375rem;
}
.header.transparent .header-top {
  background-color: rgba(1, 90, 171, 0);
}
.header.transparent .header-mid {
  background-color: rgba(255, 255, 255, 0);
}
.header.transparent .header-mid svg {
  filter: invert(1);
}
.header.transparent .header-action .user-caption,
.header.transparent .nav-menu > li > a {
  color: #fff;
}
.header.transparent .header-action .search {
  border-color: #fff;
}
.header.transparent .header-action .search .search-input {
  color: #fff;
}
.header.sticky {
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  top: -2.5rem;
}
.header.sticky .header-top {
  background-color: var(--global-color);
}
.header.sticky .header-mid {
  background-color: #fff;
}
.header.sticky .header-mid svg {
  filter: invert(0);
}
.header.sticky .nav-menu > li > a,
.header.sticky .header-action .user-caption {
  color: #000;
}
.header.sticky .header-action .search {
  border-color: #000;
}
.header.sticky .header-action .search .search-input {
  color: #000;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  width: 100%;
  margin: 0;
  box-shadow: none;
  display: block;
  max-height: 0;
  overflow: auto;
  scrollbar-width: none;
  scrollbar-color: #7d7d7d #fff;
  padding: 0;
  border: 0;
  z-index: 1;
}
.dropdown-menu--customize .container {
  display: flex;
}
.dropdown-menu--customize .dropdown-menu--inner {
  flex-wrap: wrap;
  flex-grow: 1;
}
.dropdown-menu--customize .dropdown-menu--inner .dropdown-menu--subitem {
  flex: 0 0 25%;
  max-width: 25%;
}
.dropdown-menu--customize .highlight-img {
  flex: 0 0 16rem;
  max-width: 16rem;
  line-height: 0;
}
.dropdown-menu--customize .highlight-img img {
  width: 100%;
  height: auto;
}
.dropdown-menu .container {
  padding: 40px 2.5rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0s ease-in-out;
  transition-delay: 0s;
}
.dropdown-menu--inner {
  display: flex;
  max-height: 100%;
  overflow: scroll;
  scrollbar-width: none;
}
.dropdown-menu--subitem {
  padding: 0 5px;
  margin-bottom: 40px;
}
.dropdown-menu--subitem.is-group {
  display: flex;
  flex-direction: column;
}
.dropdown-menu--title, .dropdown-menu--link {
  text-decoration: none;
}
.dropdown-menu--title {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 1.125rem;
}
.dropdown-menu--link {
  font-size: 1rem;
  font-weight: 400;
  color: #000;
}
.dropdown-menu .container-list li {
  margin-bottom: 10px;
}
.dropdown-menu a {
  position: relative;
}
.dropdown-menu a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #000;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  -webkit-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
}
.dropdown-menu a:hover::before {
  width: 100%;
}

.push-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9.6875rem, 1fr));
  gap: 40px;
  row-gap: 20px;
  width: 100%;
  max-width: calc(19.375rem * var(--item, 7) + 2.5rem * var(--item, 7));
}
.push-content--item {
  text-decoration: none;
  color: #000;
}
.push-content--item::before {
  display: none;
}
.push-content--item .image-push-wrapper {
  width: 100%;
  height: auto;
  aspect-ratio: 310/227;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 1rem;
}
.push-content--item .image-push-wrapper img {
  width: 100%;
  height: 100%;
  -webkit-object-fit: cover;
  object-fit: cover;
}
.push-content--item p {
  font-weight: 600;
  font-size: 1rem;
  text-transform: initial;
}

.bg-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  width: 100%;
  height: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.bg-menu::after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  height: 0;
  width: 100%;
  background: linear-gradient(0deg, #fff 15%, hsla(0, 0%, 100%, 0));
  transition: none;
  pointer-events: none;
  transition-delay: 0.1s;
}

.bg-menu-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

@media screen and (min-width: 769px) {
  .header:hover .header-top {
    background-color: var(--global-color);
  }
  .header:hover .header-mid {
    background-color: #fff;
  }
  .header:hover .header-mid svg {
    filter: invert(0);
  }
  .header:hover .header-action .user-caption,
  .header:hover .nav-menu > li > a {
    color: #000;
  }
  .header:hover .header-action .search {
    border-color: #000;
  }
  .header:hover .header-action .search .search-input {
    color: #000;
  }
  .header .nav {
    height: 100%;
  }
  .header .nav-menu {
    height: 100%;
  }
  .header .nav-item {
    height: 100%;
    display: inline-flex;
    align-items: center;
  }
  .header .nav-item.active .dropdown-menu {
    border-top: 1px solid #e1e1e1;
    background-color: transparent;
    max-height: calc(100vh - 200px);
  }
  .header .nav-item.active .dropdown-menu .container {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.25s;
  }
  .header:not(.transparent) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .header:not(.transparent) + .main {
    padding-top: 7.5rem;
  }
}
@media screen and (max-width: 1023px) {
  .bg-menu,
  .bg-menu--overlay {
    display: none;
  }
  .header-top {
    padding: 0 0.9375rem;
    height: 2.125rem;
  }
  .header-top .promotion_tag {
    font-size: 0.625rem;
  }
  .header-mid {
    padding: 0 0.9375rem;
    height: 3.125rem;
  }
  .header-mid .logo {
    width: 7.9375rem;
    margin-left: 0.75rem;
  }
  .header-mid .toggle-menu {
    width: 1.25rem;
    height: 1.25rem;
  }
  .header-mid .toggle-menu svg {
    width: 100%;
    height: 100%;
  }
  .header-action {
    gap: 0.75rem;
  }
  .header-action .user-caption {
    display: none;
  }
  .header .nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: none;
    overflow: hidden;
    z-index: 1;
  }
  .header .nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.375rem;
    min-height: 4.375rem;
    padding: 0 1rem;
  }
  .header .nav-top .logo {
    margin: 0;
  }
  .header .nav .close-menu {
    width: 1.875rem;
    height: 1.875rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
  }
  .header .nav .close-menu svg {
    width: 0.875rem;
    height: 0.875rem;
  }
  .header .nav a:before,
  .header .nav span::before {
    display: none;
  }
  .header .nav-menu {
    flex-grow: 1;
    width: 100%;
    max-height: 100%;
    display: block;
    margin: 0;
    padding: 0 1rem;
  }
  .header .nav-menu > li {
    border-top: 1px solid #D9D9D9;
  }
  .header .nav-menu .dropdown-toggle,
  .header .nav-menu .normal-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 0;
  }
  .header .nav-menu .dropdown-toggle svg,
  .header .nav-menu .normal-link svg {
    width: 0.5rem;
    height: 0.75rem;
  }
  .header .nav-menu .dropdown-back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.375rem;
    min-height: 4.375rem;
    padding: 0 1rem;
    border-bottom: 1px solid #D9D9D9;
  }
  .header .nav-menu .dropdown-back .back-menu {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
    font-weight: 500;
    gap: 0.875rem;
  }
  .header .nav-menu .dropdown-back .back-menu svg {
    width: 1.125rem;
    height: 0.625rem;
  }
  .header .nav-menu .dropdown-menu {
    background-color: #fff;
    display: block;
    width: 100%;
    position: fixed;
    height: var(--winH, 100vh);
    top: 0;
    left: 0;
    -webkit-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    max-height: none;
    z-index: 1;
    overflow: hidden;
  }
  .header .nav-menu .dropdown-menu .container {
    opacity: 1;
    visibility: visible;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .header .nav-menu .dropdown-menu--customize .dropdown-menu--subitem {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .header .nav-menu .dropdown-menu--customize .dropdown-menu--inner {
    padding: 1rem;
    padding-top: 0;
    display: block;
  }
  .header .nav-menu .dropdown-menu--customize .dropdown-menu--subitem {
    padding: 0;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 0rem;
  }
  .header .nav-menu .dropdown-menu--customize .dropdown-menu--subitem.is-group {
    border: none;
  }
  .header .nav-menu .dropdown-menu--customize .dropdown-menu--subitem .dropdown-menu--link {
    font-size: 0.875rem;
  }
  .header .nav-menu .dropdown-menu--customize .container-list {
    height: var(--data-h, 0px);
    overflow: hidden;
    -webkit-transition: height 0.4s linear;
    transition: height 0.4s linear;
  }
  .header .nav-menu .dropdown-menu--customize .container-list ul {
    padding-bottom: 1rem;
    padding-left: 1.125rem;
  }
  .header .nav-menu .push-content {
    padding: 1rem 1rem 2.8125rem 1rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 20px;
    flex-grow: 1;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .header .nav-menu .push-content[data-item="2"] {
    grid-template-columns: repeat(1, 1fr);
  }
  .header .nav-menu .dropdown-menu--title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 1.25rem 0;
  }
  .header .nav-menu .dropdown-menu--title.current .icon-toggle .icon-increase {
    opacity: 0;
  }
  .header .nav-menu .dropdown-menu--title.current .icon-toggle .icon-decrease {
    opacity: 1;
  }
  .header .nav-menu .dropdown-menu--title .icon-toggle {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--global-color);
  }
  .header .nav-menu .dropdown-menu--title .icon-toggle .icon-increase,
  .header .nav-menu .dropdown-menu--title .icon-toggle .icon-decrease {
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
  }
  .header .nav-menu .dropdown-menu--title .icon-toggle .icon-decrease {
    opacity: 0;
  }
  .header .nav-menu .dropdown-menu--title .icon-toggle svg {
    width: 0.875rem;
    position: absolute;
    height: 0.875rem;
  }
  .header .nav-bot {
    width: 100%;
    padding: 1rem;
    margin-top: auto;
  }
  .header .nav-bot .support {
    background-color: #F2F4F7;
    display: block;
    padding: 0.625rem 1.25rem;
    -webkit-border-radius: 0.75rem;
    border-radius: 0.75rem;
  }
  .header .nav-bot .support-list {
    display: block;
  }
  .header .nav-bot .support-list li {
    border-bottom: 1px solid #D9D9D9;
  }
  .header .nav-bot .support-list li::after {
    display: none;
  }
  .header .nav-bot .support-list a {
    color: #1D2939;
    padding: 1.0625rem 0;
    font-size: 0.75rem;
  }
  .header .nav-bot .support-icon {
    width: 1rem;
    height: 1rem;
  }
  .header .nav-bot .select-language {
    display: inline-flex;
  }
  .header .nav-bot .select-language .select-selected,
  .header .nav-bot .select-language .select-arrow {
    color: #1D2939;
  }
  .header .nav-bot .select-language .select-selected {
    font-size: 0.75rem;
  }
  .header .nav-bot .select-language .select-header {
    padding: 1.0625rem 0;
  }
  .header .nav-bot .select-language .select-box {
    right: auto;
    left: 0;
    top: auto;
    bottom: 100%;
  }
  .header:not(.transparent) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .header:not(.transparent) + .main {
    padding-top: 5.125rem;
  }
  .header.open-menu {
    background-color: #fff;
  }
  .header.open-menu .header-top {
    background-color: rgb(1, 90, 171);
  }
  .header.open-menu .header-mid {
    background-color: #fff;
  }
  .header.open-menu .header-mid svg {
    filter: invert(0);
  }
  .header.open-menu .nav-menu > li > a {
    color: #000;
  }
  .header.open-menu .header-action .search {
    border-color: #000;
  }
  .header.open-menu .header-action .search .search-input {
    color: #000;
  }
  .header.open-menu .nav {
    display: flex;
    flex-direction: column;
  }
  .header.open-menu .nav li {
    cursor: pointer;
  }
  .header.open-menu .nav li.current .dropdown-menu {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.new-detail {
  display: flex;
  padding: 0 2.5rem;
  margin-bottom: 6.875rem;
}
.new-detail .content {
  flex: 0 0 calc(100% - 456px);
  max-width: calc(100% - 456px);
  padding-right: 2.5rem;
  padding-top: 3.75rem;
  border-right: 1px solid #D0D5DD;
}
.new-detail .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 2.5rem;
}
.new-detail .info .cate {
  font-size: 0.875rem;
  background-color: #EAECF0;
  display: inline-flex;
  padding: 0 0.875rem;
  height: 2.25rem;
  width: auto;
  align-items: center;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.new-detail .info h1 {
  color: #015AAB;
  font-size: 2.25rem;
}
.new-detail .info .time {
  color: #475467;
  font-size: 0.875rem;
  display: flex;
  gap: 1.8125rem;
}
.new-detail .info .time span {
  position: relative;
}
.new-detail .info .time span:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 60%;
  background-color: #98A2B3;
  display: block;
  top: 20%;
  right: -0.875rem;
}
.new-detail .info .relation {
  flex: 0 0 456px;
  max-width: 456px;
}
.new-detail .detail {
  font-size: 1rem;
  color: #101828;
  line-height: 1.5;
}
.new-detail .detail a {
  text-decoration: underline;
  color: inherit;
}
.new-detail .detail strong {
  font-weight: 600;
}
.new-detail .detail > * {
  margin-bottom: 1.25rem;
}
.new-detail .detail h2,
.new-detail .detail h3,
.new-detail .detail h4,
.new-detail .detail h5,
.new-detail .detail h6 {
  font-size: 1.25rem;
}
.new-detail .detail ul {
  list-style: disc;
  margin-left: 1.125rem;
}
.new-detail .detail img {
  display: block;
  width: 100%;
  height: auto;
}
.new-detail .detail img + span {
  display: block;
  text-align: center;
  font-size: 0.875rem;
  margin: 1.25rem 0;
}
.new-detail .share {
  display: flex;
  font-size: 1rem;
  color: #015AAB;
  font-weight: 500;
  gap: 0.625rem;
  text-decoration: underline;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.new-detail .share svg {
  width: 1.25rem;
  height: 1.25rem;
}
.new-detail .relation {
  padding-top: 3.75rem;
  padding-left: 2.5rem;
}
.new-detail .relation-title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.875rem;
}
.new-detail .relation .new {
  border-bottom: 1px solid #D0D5DD;
  padding-bottom: 1.875rem;
  margin-bottom: 1.875rem;
}
.new-detail .relation .new-txt h3 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.625rem;
}
.new-detail .relation .new-meta {
  font-size: 0.875rem;
  color: #475467;
}

@media screen and (max-width: 768px) {
  .new-detail {
    display: flex;
    padding: 0;
    margin-bottom: 3.75rem;
    flex-wrap: wrap;
  }
  .new-detail .content,
  .new-detail .relation {
    flex: 0 0 100%;
    max-width: 100%;
    border: none;
    padding: 0;
  }
  .new-detail .content {
    padding: 1.5rem 1rem;
  }
  .new-detail .info {
    padding: 0;
  }
  .new-detail .info .cate {
    font-size: 0.875rem;
  }
  .new-detail .info h1 {
    font-size: 1.875rem;
  }
  .new-detail .info .time {
    font-size: 0.875rem;
  }
  .new-detail .detail {
    font-size: 1rem;
  }
  .new-detail .relation {
    padding: 1.5rem 1rem;
    border-top: 1px solid #D0D5DD;
  }
}
.subscribe {
  position: relative;
  width: 100%;
  padding: 5.25rem 3.375rem 5.25rem 10rem;
  overflow: visible;
  background: linear-gradient(180deg, #015AAB 0%, #82C3FF 109.43%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
}
.subscribe_wrap {
  display: flex;
  width: 100%;
}
.subscribe_block {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}
.subscribe_block h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
}
.subscribe_form {
  width: 27.25rem;
  height: 3rem;
  display: flex;
  margin-top: 2.1875rem;
}
.subscribe_form .subscribe-input {
  flex-grow: 1;
  background-color: #fff;
  -webkit-border-radius: 0.5rem 0 0 0.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
  color: #4D4A4F;
  font-weight: 400;
  padding: 0 1rem;
  border: 1px solid #D1D1D1;
}
.subscribe_form .subscribe-input::placeholder {
  color: #4D4A4F;
}
.subscribe_form .link-but {
  width: 3.5rem;
  height: 100%;
  -webkit-border-radius: 0 0.5rem 0.5rem 0;
  border-radius: 0 0.5rem 0.5rem 0;
}
.subscribe_img {
  position: absolute;
  right: 3.375rem;
  top: -4.375rem;
  width: 36.3125rem;
  line-height: 0;
}
.subscribe_img img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1023px) {
  .subscribe {
    padding: 2.25rem 0.9375rem 0 0.9375rem;
  }
  .subscribe_wrap {
    display: flex;
    flex-direction: column;
  }
  .subscribe_block {
    font-size: 0.875rem;
  }
  .subscribe_block h2 {
    font-size: 1.25rem;
  }
  .subscribe_form {
    width: 100%;
    margin-bottom: 4rem;
  }
  .subscribe_img {
    position: relative;
    right: auto;
    top: auto;
    margin-bottom: -32%;
    width: 93.733333333%;
  }
}
.noScroll {
  height: 100%;
  overflow: hidden;
}

.footer {
  position: relative;
  background-color: var(--global-color-dark);
  color: #fff;
  padding: 4.125rem 2.5rem 0 2.5rem;
}
.footer-top {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 2.1875rem;
}
.footer-col {
  flex: 0 0 50%;
  max-width: 50%;
}
.footer-nav li {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.footer-nav li:not(:last-child) {
  margin-bottom: 1.25rem;
}
.footer-nav a {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
}
.footer-nav .arrow {
  display: flex;
  width: 1rem;
  height: 1rem;
  align-items: center;
  justify-content: center;
}
.footer-nav .arrow svg {
  width: 0.25rem;
  height: 0.5rem;
}
.footer-logo {
  display: block;
  width: 11.625rem;
  line-height: 0;
  margin-bottom: 3.125rem;
}
.footer-logo img {
  width: 100%;
  height: auto;
}
.footer .company-name {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 2.1875rem;
  line-height: 1.6;
}
.footer .company-contact li {
  display: flex;
  gap: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.571428571;
  font-weight: 500;
}
.footer .company-contact li:not(:last-child) {
  margin-bottom: 1.125rem;
}
.footer .company-contact--icon {
  display: flex;
  flex: 0 0 1.25rem;
  max-width: 1.25rem;
  height: 1.25rem;
}
.footer .company-contact--icon svg {
  width: 100%;
  height: 100%;
}
.footer-bot {
  display: flex;
  align-items: center;
  padding: 1.375rem 0;
}
.footer-bot .copyright {
  font-size: 0.875rem;
  font-weight: 500;
}
.footer .follow-box {
  display: flex;
  margin-left: auto;
  font-size: 0.875rem;
  font-weight: 500;
  align-items: center;
  gap: 1.25rem;
}
.footer .social-list {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.footer .social-list a {
  display: block;
  line-height: 0;
  width: 2rem;
}
.footer .social-list a img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 2.5rem 0.9375rem 0 0.9375rem;
  }
  .footer-top {
    flex-wrap: wrap;
    padding-bottom: 1.625rem;
  }
  .footer-col {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .footer-nav {
    padding-bottom: 1.625rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 1.875rem;
  }
  .footer-logo {
    margin-bottom: 1.875rem;
  }
  .footer .company-name {
    margin-bottom: 1.875rem;
  }
  .footer-bot {
    flex-direction: column-reverse;
  }
  .footer-bot .follow-box {
    padding-top: 1.25rem;
    justify-content: center;
    margin-left: 0;
    margin-bottom: 1.25rem;
  }
  .footer-bot .copyright {
    font-size: 0.75rem;
    text-align: center;
    line-height: 1.666666667;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70px);
    transform: translateY(70px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70px);
    transform: translateY(70px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInScale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes fadeInScale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
/*
.header,
.banner,
.title,
.home-about__key h3,
.home-about__info,
.home-about__key--item,
.home-about__gallery--box,
.home-collection__gallery,
.title-category,
.product,
.home-our-techniques__gallery,
.home-millwork__item,
.article,
.box-center,
.about__title,
.about__mission--item,
.about__milestone--img,
.about__milestone--txt,
.about__human--item,
.about__human--brief,
.about__sustainability--item,
.about__sustainability--gallery__item,
.about__tour--information,
.about__tour--gallery__box,
.breadcrumb li,
.product__page--information, 
.product-cate,
.tab-menu li,
.technique__information p,
.technique__item--img,
.technique__item--txt,
.manufacturing__txt,
.manufacturing__box--gallery,
.millwork__infomation, 
.millwork__item,
.form-group,
.brochure__item,
.footer,
.pagination {
    opacity: 0;
}

.header.in-view {
    -webkit-animation: fadeIn 0.5s forwards;
    animation: fadeIn 0.5s forwards;
}

.banner.in-view,
.home-about__gallery--box.in-view,
.home-collection__gallery.in-view,
.home-our-techniques__gallery.in-view,
.box-center.in-view,
.about__human--brief.in-view,
.about__tour--gallery__box.in-view,
.breadcrumb li.in-view,
.tab-menu li.in-view,
.manufacturing__box--gallery.in-view,
.brochure__item.in-view,
.footer.in-view {
    -webkit-animation: fadeIn 1.2s forwards;
    animation: fadeIn 1.2s forwards;
}

.title.in-view,
.title-category.in-view,
.home-about__key h3.in-view,
.home-about__info.in-view,
.about__title.in-view,
.about__human--item.in-view,
.about__sustainability--item.in-view,
.about__tour--information.in-view,
.product__page--information.in-view,
.technique__information p.in-view,
.manufacturing__txt.in-view,
.millwork__item.in-view,
.form-group.in-view,
.pagination.in-view {
    -webkit-animation: fadeInUp 1.2s forwards;
    animation: fadeInUp 1.2s forwards;
}

.home-about__key--item.in-view,
.about__sustainability--gallery__item.in-view,
.technique__item:nth-child(2n + 1) .technique__item--img.in-view,
.technique__item:nth-child(2n + 1) .technique__item--txt.in-view {
    -webkit-animation: fadeInLeft 1.2s forwards;
    animation: fadeInLeft 1.2s forwards;
}

.product-cate.in-view,
.technique__item:nth-child(2n + 2) .technique__item--img.in-view,
.technique__item:nth-child(2n + 2) .technique__item--txt.in-view,
.millwork__infomation.in-view {
    -webkit-animation: fadeInRight 1.2s forwards;
    animation: fadeInRight 1.2s forwards;
}

.product.in-view,
.article.in-view,
.about__mission--item.in-view {
    -webkit-animation: fadeInUp 1.2s forwards;
    animation: fadeInUp 1.2s forwards;
}

.home-millwork__item.in-view,
.about__milestone--img.in-view,
.about__milestone--txt.in-view {
    -webkit-animation: fadeInScale 1.2s forwards;
    animation: fadeInScale 1.2s forwards;
}

.banner,
.technique__information p {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.form-group:nth-child(1){
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}
.form-group:nth-child(2){
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.form-group:nth-child(3){
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
}
.contact__box .box-center,
.footer {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

@media screen and (min-width: 1023px) {

    .home-about__key--item:nth-child(4n + 1),
    .product:nth-child(3n + 1),
    .article:nth-child(4n + 1),
    .about__mission--item:nth-child(2n + 1),
    .about__human--item:nth-child(2n + 1),
    .about__sustainability--item:nth-child(2n + 1),
    .about__sustainability--gallery__item:nth-child(2n + 1),
    .technique__item--img,
    .millwork__item:nth-child(3n + 1),
    .brochure__item:nth-child(4n + 1) {
        -webkit-animation-delay: 0.15s !important;
        animation-delay: 0.15s !important;
    }

    .home-about__key--item:nth-child(4n + 2),
    .product:nth-child(3n + 2),
    .article:nth-child(4n + 2),
    .about__mission--item:nth-child(2n + 2),
    .about__human--item:nth-child(2n + 2),
    .about__sustainability--item:nth-child(2n + 2),
    .about__sustainability--gallery__item:nth-child(2n + 2),
    .technique__item--txt,
    .millwork__item:nth-child(3n + 2),
    .brochure__item:nth-child(4n + 2) {
        -webkit-animation-delay: 0.3s !important;
        animation-delay: 0.3s !important;
    }

    .home-about__key--item:nth-child(4n + 3),
    .product:nth-child(3n + 3),
    .article:nth-child(4n + 3),
    .millwork__item:nth-child(3n + 3),
    .brochure__item:nth-child(4n + 3) {
        -webkit-animation-delay: 0.45s;
        animation-delay: 0.45s;
    }

    .home-about__key--item:nth-child(4n + 4),
    .article:nth-child(4n + 4),
    .brochure__item:nth-child(4n + 4) {
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
    }
    .product-cate,
    .millwork__infomation {
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
    }
}


@media screen and (max-width: 1022px) {
    .header {
        opacity: 1;
    }
    .header.in-view {
        -webkit-animation: none;
        animation: none;
    }
}
*/
