<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta name="google" content="notranslate">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Qui Phúc">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>Qui Phúc | Dành cho doanh nghiệp</title>
    <meta name="description" content="Qui Phúc">
    <meta name="keywords" content="Qui Phúc">
    <meta name="theme-color" content="#fff">
    <meta property="og:title" content="Qui Phúc">
    <meta property="og:description" content="Qui Phúc">
    <meta property="og:type" content="website">
    <meta property="og:image" content="images/thumbnail.jpg">
    <meta property="og:site_name" content="Qui Phúc">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Qui Phúc">
    <link rel="icon" href="images/favicon.png">

    <link href="css/cmp_reset.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_critical.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_header.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_common.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_banner_business.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_swiper.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_category.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_kitchen.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_collection.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_project.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_brand.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_commit.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_inspiration.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_promotion.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_service.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_regiter_promotion.css" rel="preload stylesheet" as="style">
    <link href="css/cmp_footer.css" rel="preload stylesheet" as="style">

    <!-- <link href="css/critical.css" rel="preload stylesheet" as="style">
    <link rel="stylesheet" href="css/business.css"> -->
</head>

<body data-page="home">
    <div class="page">
        <%= htmlWebpackPlugin.options.svg %>
        <%= htmlWebpackPlugin.options.header %>
        <div class="main">
            <%= htmlWebpackPlugin.options.businessBannerComponent %>
            <%= htmlWebpackPlugin.options.productCategory %>
            <%= htmlWebpackPlugin.options.kitchen %>
            <!-- <%= htmlWebpackPlugin.options.collection %> -->
            <section class="section collection">
                <div class="collection_wrap">
                    <div class="collection_content">
                        <div class="title_block">
                            <div class="sub-title">Giải pháp không gian</div>
                            <h2>Dành cho doanh nghiệp</h2>
                        </div>
                        <div class="collection-nav" id="slider-nav">
                            <div class="nav-prev">
                                <svg>
                                    <use xlink:href="#icon-arrow-next"></use>
                                </svg>
                            </div>
                            <div class="collectionNavSlider swiper">
                                <div class="swiper-wrapper">
                                    <div class="current swiper-slide" data-target="1">
                                        <span>Nhà hàng, quán ăn, quán café</span>
                                    </div>
                                    <div data-target="2" class="swiper-slide">
                                        <span>Văn phòng</span>
                                    </div>
                                    <div data-target="3" class="swiper-slide">
                                        <span>Bệnh viện, công côngk</span>
                                    </div>
                                    <div data-target="4" class="swiper-slide">
                                        <span>Gia dụng inox</span>
                                    </div>
                                    <div data-target="5" class="swiper-slide">
                                        <span>Sản phẩm thư giãn</span>
                                    </div>
                                    <div data-target="6" class="swiper-slide">
                                        <span>Trường học</span>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-next">
                                <svg>
                                    <use xlink:href="#icon-arrow-next"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="collection_product">
                            <div class="collection_product--item current" data-target="1">
                                <div class="products-list">
                                    <div class="product">
                                        <a href="san-pham-chi-tiet.html" class="product-img">
                                            <img width="225" height="222" class="lazy"
                                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                data-src="images/collection-1.png" alt="Ghế đẩu inox kiềng - Đặt riêng" />
                                        </a>
                                        <div class="product-txt">
                                            <div class="model">Model: 1200000454</div>
                                            <h3 class="name"><a href="san-pham-chi-tiet.html">Ghế đẩu inox kiềng - Đặt riêng</a>
                                            </h3>
                                            <ul class="color">
                                                <li style="--color-pro: #ff5959"></li>
                                                <li style="--color-pro: #525252"></li>
                                            </ul>
                                            <div class="price">
                                                <span class="sale">1.249.000 đ</span>
                                                <span class="old">1.249.000 đ</span>
                                            </div>
                                        </div>
                                        <div class="tag">
                                            <span class="tag-item">
                                                <svg>
                                                    <use xlink:href="#icon-thunder"></use>
                                                </svg>
                                                20%
                                            </span>
                                        </div>
                                        <div class="compare">
                                            <span class="compare-item">
                                                So sánh
                                                <svg>
                                                    <use xlink:href="#icon-plus"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <a href="san-pham-chi-tiet.html" class="product-img">
                                            <img width="225" height="222" class="lazy"
                                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                data-src="images/collection-2.png" alt="Ghế đẩu inox kiềng - Đặt riêng" />
                                        </a>
                                        <div class="product-txt">
                                            <div class="model">Model: 1200000454</div>
                                            <h3 class="name"><a href="san-pham-chi-tiet.html">Ghế đẩu inox kiềng - Đặt riêng</a>
                                            </h3>
                                            <ul class="color">
                                                <li style="--color-pro: #ff5959"></li>
                                                <li style="--color-pro: #525252"></li>
                                            </ul>
                                            <div class="price">
                                                <span class="sale">1.249.000 đ</span>
                                                <span class="old">1.249.000 đ</span>
                                            </div>
                                        </div>
                                        <div class="tag">
                                            <span class="tag-item">
                                                <svg>
                                                    <use xlink:href="#icon-thunder"></use>
                                                </svg>
                                                20%
                                            </span>
                                        </div>
                                        <div class="compare">
                                            <span class="compare-item">
                                                So sánh
                                                <svg>
                                                    <use xlink:href="#icon-plus"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="collection_product--item" data-target="2">
                                <div class="products-list">
                                    <div class="product">
                                        <a href="san-pham-chi-tiet.html" class="product-img">
                                            <img width="225" height="222" class="lazy"
                                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                data-src="images/collection-3.png" alt="Ghế đẩu inox kiềng - Đặt riêng" />
                                        </a>
                                        <div class="product-txt">
                                            <div class="model">Model: 1200000454</div>
                                            <h3 class="name"><a href="san-pham-chi-tiet.html">Ghế đẩu inox kiềng - Đặt riêng</a>
                                            </h3>
                                            <ul class="color">
                                                <li style="--color-pro: #ff5959"></li>
                                                <li style="--color-pro: #525252"></li>
                                            </ul>
                                            <div class="price">
                                                <span class="sale">1.249.000 đ</span>
                                                <span class="old">1.249.000 đ</span>
                                            </div>
                                        </div>
                                        <div class="tag">
                                            <span class="tag-item">
                                                <svg>
                                                    <use xlink:href="#icon-thunder"></use>
                                                </svg>
                                                20%
                                            </span>
                                        </div>
                                        <div class="compare">
                                            <span class="compare-item">
                                                So sánh
                                                <svg>
                                                    <use xlink:href="#icon-plus"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <a href="san-pham-chi-tiet.html" class="product-img">
                                            <img width="225" height="222" class="lazy"
                                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                data-src="images/collection-4.png" alt="Ghế đẩu inox kiềng - Đặt riêng" />
                                        </a>
                                        <div class="product-txt">
                                            <div class="model">Model: 1200000454</div>
                                            <h3 class="name"><a href="san-pham-chi-tiet.html">Ghế đẩu inox kiềng - Đặt riêng</a>
                                            </h3>
                                            <ul class="color">
                                                <li style="--color-pro: #ff5959"></li>
                                                <li style="--color-pro: #525252"></li>
                                            </ul>
                                            <div class="price">
                                                <span class="sale">1.249.000 đ</span>
                                                <span class="old">1.249.000 đ</span>
                                            </div>
                                        </div>
                                        <div class="tag">
                                            <span class="tag-item">
                                                <svg>
                                                    <use xlink:href="#icon-thunder"></use>
                                                </svg>
                                                20%
                                            </span>
                                        </div>
                                        <div class="compare">
                                            <span class="compare-item">
                                                So sánh
                                                <svg>
                                                    <use xlink:href="#icon-plus"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="collection_product--item" data-target="3">
                                <div class="products-list">
                                    <div class="product">
                                        <a href="san-pham-chi-tiet.html" class="product-img">
                                            <img width="225" height="222" class="lazy"
                                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                data-src="images/collection-3.png" alt="Ghế đẩu inox kiềng - Đặt riêng" />
                                        </a>
                                        <div class="product-txt">
                                            <div class="model">Model: 1200000454</div>
                                            <h3 class="name"><a href="san-pham-chi-tiet.html">Ghế đẩu inox kiềng - Đặt riêng</a>
                                            </h3>
                                            <ul class="color">
                                                <li style="--color-pro: #ff5959"></li>
                                                <li style="--color-pro: #525252"></li>
                                            </ul>
                                            <div class="price">
                                                <span class="sale">1.249.000 đ</span>
                                                <span class="old">1.249.000 đ</span>
                                            </div>
                                        </div>
                                        <div class="tag">
                                            <span class="tag-item">
                                                <svg>
                                                    <use xlink:href="#icon-thunder"></use>
                                                </svg>
                                                20%
                                            </span>
                                        </div>
                                        <div class="compare">
                                            <span class="compare-item">
                                                So sánh
                                                <svg>
                                                    <use xlink:href="#icon-plus"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <a href="san-pham-chi-tiet.html" class="product-img">
                                            <img width="225" height="222" class="lazy"
                                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                data-src="images/collection-4.png" alt="Ghế đẩu inox kiềng - Đặt riêng" />
                                        </a>
                                        <div class="product-txt">
                                            <div class="model">Model: 1200000454</div>
                                            <h3 class="name"><a href="san-pham-chi-tiet.html">Ghế đẩu inox kiềng - Đặt riêng</a>
                                            </h3>
                                            <ul class="color">
                                                <li style="--color-pro: #ff5959"></li>
                                                <li style="--color-pro: #525252"></li>
                                            </ul>
                                            <div class="price">
                                                <span class="sale">1.249.000 đ</span>
                                                <span class="old">1.249.000 đ</span>
                                            </div>
                                        </div>
                                        <div class="tag">
                                            <span class="tag-item">
                                                <svg>
                                                    <use xlink:href="#icon-thunder"></use>
                                                </svg>
                                                20%
                                            </span>
                                        </div>
                                        <div class="compare">
                                            <span class="compare-item">
                                                So sánh
                                                <svg>
                                                    <use xlink:href="#icon-plus"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="collection_product--item" data-target="4">
                                <div class="products-list">
                                    <div class="product">
                                        <a href="san-pham-chi-tiet.html" class="product-img">
                                            <img width="225" height="222" class="lazy"
                                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                data-src="images/collection-3.png" alt="Ghế đẩu inox kiềng - Đặt riêng" />
                                        </a>
                                        <div class="product-txt">
                                            <div class="model">Model: 1200000454</div>
                                            <h3 class="name"><a href="san-pham-chi-tiet.html">Ghế đẩu inox kiềng - Đặt riêng</a>
                                            </h3>
                                            <ul class="color">
                                                <li style="--color-pro: #ff5959"></li>
                                                <li style="--color-pro: #525252"></li>
                                            </ul>
                                            <div class="price">
                                                <span class="sale">1.249.000 đ</span>
                                                <span class="old">1.249.000 đ</span>
                                            </div>
                                        </div>
                                        <div class="tag">
                                            <span class="tag-item">
                                                <svg>
                                                    <use xlink:href="#icon-thunder"></use>
                                                </svg>
                                                20%
                                            </span>
                                        </div>
                                        <div class="compare">
                                            <span class="compare-item">
                                                So sánh
                                                <svg>
                                                    <use xlink:href="#icon-plus"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <a href="san-pham-chi-tiet.html" class="product-img">
                                            <img width="225" height="222" class="lazy"
                                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                data-src="images/collection-4.png" alt="Ghế đẩu inox kiềng - Đặt riêng" />
                                        </a>
                                        <div class="product-txt">
                                            <div class="model">Model: 1200000454</div>
                                            <h3 class="name"><a href="san-pham-chi-tiet.html">Ghế đẩu inox kiềng - Đặt riêng</a>
                                            </h3>
                                            <ul class="color">
                                                <li style="--color-pro: #ff5959"></li>
                                                <li style="--color-pro: #525252"></li>
                                            </ul>
                                            <div class="price">
                                                <span class="sale">1.249.000 đ</span>
                                                <span class="old">1.249.000 đ</span>
                                            </div>
                                        </div>
                                        <div class="tag">
                                            <span class="tag-item">
                                                <svg>
                                                    <use xlink:href="#icon-thunder"></use>
                                                </svg>
                                                20%
                                            </span>
                                        </div>
                                        <div class="compare">
                                            <span class="compare-item">
                                                So sánh
                                                <svg>
                                                    <use xlink:href="#icon-plus"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="collection_product--item" data-target="5">
                                <div class="products-list">
                                    <div class="product">
                                        <a href="san-pham-chi-tiet.html" class="product-img">
                                            <img width="225" height="222" class="lazy"
                                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                data-src="images/collection-3.png" alt="Ghế đẩu inox kiềng - Đặt riêng" />
                                        </a>
                                        <div class="product-txt">
                                            <div class="model">Model: 1200000454</div>
                                            <h3 class="name"><a href="san-pham-chi-tiet.html">Ghế đẩu inox kiềng - Đặt riêng</a>
                                            </h3>
                                            <ul class="color">
                                                <li style="--color-pro: #ff5959"></li>
                                                <li style="--color-pro: #525252"></li>
                                            </ul>
                                            <div class="price">
                                                <span class="sale">1.249.000 đ</span>
                                                <span class="old">1.249.000 đ</span>
                                            </div>
                                        </div>
                                        <div class="tag">
                                            <span class="tag-item">
                                                <svg>
                                                    <use xlink:href="#icon-thunder"></use>
                                                </svg>
                                                20%
                                            </span>
                                        </div>
                                        <div class="compare">
                                            <span class="compare-item">
                                                So sánh
                                                <svg>
                                                    <use xlink:href="#icon-plus"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <a href="san-pham-chi-tiet.html" class="product-img">
                                            <img width="225" height="222" class="lazy"
                                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                data-src="images/collection-4.png" alt="Ghế đẩu inox kiềng - Đặt riêng" />
                                        </a>
                                        <div class="product-txt">
                                            <div class="model">Model: 1200000454</div>
                                            <h3 class="name"><a href="san-pham-chi-tiet.html">Ghế đẩu inox kiềng - Đặt riêng</a>
                                            </h3>
                                            <ul class="color">
                                                <li style="--color-pro: #ff5959"></li>
                                                <li style="--color-pro: #525252"></li>
                                            </ul>
                                            <div class="price">
                                                <span class="sale">1.249.000 đ</span>
                                                <span class="old">1.249.000 đ</span>
                                            </div>
                                        </div>
                                        <div class="tag">
                                            <span class="tag-item">
                                                <svg>
                                                    <use xlink:href="#icon-thunder"></use>
                                                </svg>
                                                20%
                                            </span>
                                        </div>
                                        <div class="compare">
                                            <span class="compare-item">
                                                So sánh
                                                <svg>
                                                    <use xlink:href="#icon-plus"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="collection_product--item" data-target="6">
                                <div class="products-list">
                                    <div class="product">
                                        <a href="san-pham-chi-tiet.html" class="product-img">
                                            <img width="225" height="222" class="lazy"
                                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                data-src="images/collection-3.png" alt="Ghế đẩu inox kiềng - Đặt riêng" />
                                        </a>
                                        <div class="product-txt">
                                            <div class="model">Model: 1200000454</div>
                                            <h3 class="name"><a href="san-pham-chi-tiet.html">Ghế đẩu inox kiềng - Đặt riêng</a>
                                            </h3>
                                            <ul class="color">
                                                <li style="--color-pro: #ff5959"></li>
                                                <li style="--color-pro: #525252"></li>
                                            </ul>
                                            <div class="price">
                                                <span class="sale">1.249.000 đ</span>
                                                <span class="old">1.249.000 đ</span>
                                            </div>
                                        </div>
                                        <div class="tag">
                                            <span class="tag-item">
                                                <svg>
                                                    <use xlink:href="#icon-thunder"></use>
                                                </svg>
                                                20%
                                            </span>
                                        </div>
                                        <div class="compare">
                                            <span class="compare-item">
                                                So sánh
                                                <svg>
                                                    <use xlink:href="#icon-plus"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <a href="san-pham-chi-tiet.html" class="product-img">
                                            <img width="225" height="222" class="lazy"
                                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                data-src="images/collection-4.png" alt="Ghế đẩu inox kiềng - Đặt riêng" />
                                        </a>
                                        <div class="product-txt">
                                            <div class="model">Model: 1200000454</div>
                                            <h3 class="name"><a href="san-pham-chi-tiet.html">Ghế đẩu inox kiềng - Đặt riêng</a>
                                            </h3>
                                            <ul class="color">
                                                <li style="--color-pro: #ff5959"></li>
                                                <li style="--color-pro: #525252"></li>
                                            </ul>
                                            <div class="price">
                                                <span class="sale">1.249.000 đ</span>
                                                <span class="old">1.249.000 đ</span>
                                            </div>
                                        </div>
                                        <div class="tag">
                                            <span class="tag-item">
                                                <svg>
                                                    <use xlink:href="#icon-thunder"></use>
                                                </svg>
                                                20%
                                            </span>
                                        </div>
                                        <div class="compare">
                                            <span class="compare-item">
                                                So sánh
                                                <svg>
                                                    <use xlink:href="#icon-plus"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collection_banner">
                        <div class="collection_banner--item current" data-target="1">
                            <img width="720" height="720" class="lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                data-src="images/collection-banner-1.png" alt="goc bep" />
                        </div>
                        <div class="collection_banner--item" data-target="2">
                            <img width="720" height="720" class="lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                data-src="images/collection-banner-2.png" alt="goc bep" />
                        </div>
                        <div class="collection_banner--item" data-target="3">
                            <img width="720" height="720" class="lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                data-src="images/collection-banner-1.png" alt="goc bep" />
                        </div>
                        <div class="collection_banner--item" data-target="4">
                            <img width="720" height="720" class="lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                data-src="images/collection-banner-2.png" alt="goc bep" />
                        </div>
                        <div class="collection_banner--item" data-target="5">
                            <img width="720" height="720" class="lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                data-src="images/collection-banner-1.png" alt="goc bep" />
                        </div>
                        <div class="collection_banner--item" data-target="6">
                            <img width="720" height="720" class="lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                data-src="images/collection-banner-2.png" alt="goc bep" />
                        </div>
                    </div>
                </div>
            </section>
            <%= htmlWebpackPlugin.options.brandComponent %>
            <%= htmlWebpackPlugin.options.project %>
            <%= htmlWebpackPlugin.options.commit %>
            <%= htmlWebpackPlugin.options.service %>
            <!-- <%= htmlWebpackPlugin.options.support %> -->
            <section class="section inspiration bg-white">
                <div class="inspiration_wrap">
                    <div class="inspiration-list">
                        <div class="inspiration--item">
                            <div class="article">
                                <div class="article-img">
                                    <img width="664" height="682" class="lazy"
                                        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                        data-src="images/dong-hanh.jpg" alt="Sẵn sàng đồng hành Cùng khách hàng" />
                                </div>
                                <div class="article-txt">
                                    <p>Hướng dẫn mua hàng & chính sách hỗ trợ</p>
                                    <h3 class="name">Cùng khách hàng</h3>
                                    <a href="ho-tro-khach-hang.html" class="link-but">Xem chi tiết <svg>
                                            <use xlink:href="#icon-arrow-next-medium"></use>
                                        </svg></a>
                                </div>
                            </div>
                        </div>
                        <div class="inspiration--item">
                            <div class="article">
                                <div class="article-img">
                                    <img width="664" height="682" class="lazy"
                                        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                        data-src="images/khong-gian.jpg" alt="Cẩm năng không gian Qui Phúc" />
                                </div>
                                <div class="article-txt">
                                    <p>Tin tức & sự kiện</p>
                                    <h3 class="name">Qui Phúc</h3>
                                    <a href="khong-gian.html" class="link-but">Xem chi tiết <svg>
                                            <use xlink:href="#icon-arrow-next-medium"></use>
                                        </svg></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%= htmlWebpackPlugin.options.registerPromotion %>
        </div>
        <%= htmlWebpackPlugin.options.footer %>
    </div>
    <!--Script-->
    <script defer src="js/common.js"></script>
    <script defer src="js/lottie-player.js"></script>
    <script defer src="js/swiper-bundle.js"></script>
    <script defer src="js/business_main.js"></script>
    <%= htmlWebpackPlugin.options.preload %>
</body>

</html>