<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="utf-8" />
  <meta name="google" content="notranslate" />
  <meta name="robots" content="index, follow" />
  <meta name="author" content="Qui Phúc" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no" />
  <title>Qui Phúc | Lookbooks Chi Tiết</title>
  <meta name="description" content="Qui Phúc" />
  <meta name="keywords" content="Qui Phúc" />
  <meta name="theme-color" content="#fff" />
  <meta property="og:title" content="Qui Phúc" />
  <meta property="og:description" content="Qui Phúc" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="images/thumbnail.jpg" />
  <meta property="og:site_name" content="Qui Phúc" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="apple-mobile-web-app-title" content="Qui Phúc" />
  <link rel="icon" href="images/favicon.png" />
  <link href="css/cmp_reset.css" rel="preload stylesheet" as="style">
  <link href="css/cmp_critical.css" rel="preload stylesheet" as="style">
  <link href="css/cmp_header.css" rel="preload stylesheet" as="style">
  <link href="css/cmp_common.css" rel="preload stylesheet" as="style">
  <link href="css/cmp_swiper.css" rel="preload stylesheet" as="style">
  <link href="css/cmp_kitchen.css" rel="preload stylesheet" as="style">
  <link href="css/cmp_new_list.css" rel="preload stylesheet" as="style">
  <link href="css/cmp_lookbook_detail.css" rel="preload stylesheet" as="style">
  <link href="css/cmp_product_list.css" rel="preload stylesheet" as="style">
  <link href="css/cmp_regiter_promotion.css" rel="preload stylesheet" as="style">
  <link href="css/cmp_footer.css" rel="preload stylesheet" as="style">
  <!-- <link href="css/critical.css" rel="preload stylesheet" as="style">
  <link rel="stylesheet" href="css/lookbook.css"> -->
</head>

<body data-page="home">
  <div class="page">
    <%= htmlWebpackPlugin.options.svg %>
      <%= htmlWebpackPlugin.options.header%>
        <div class="main">
          <%= htmlWebpackPlugin.options.lookbook%>
            <section class="section products product-related">
              <div class="products_wrap">
                <div class="title_block flex ali-e jus-b">
                  <div class="block-title">
                    <div class="sub-title">Sản phẩm</div>
                    <h2>Liên quan</h2>
                  </div>
                </div>
                <div class="products-list">
                  <div class="products-grid">
                      <div class="products-grid--item">
                        <div class="product">
                          <a class="product-img" href="san-pham-chi-tiet.html">
                            <img width="131" height="129" loading="lazy" fetchpriority="low"
                              src="images/sp-ud-1.jpg" alt="Võng Inox Deli" />
                          </a>
                          <div class="product-txt">
                            <div class="model">Model: 1200000454</div>
                            <h3 class="name"><a href="san-pham-chi-tiet.html">Võng Inox Deli</a></h3>
                            <ul class="color">
                              <li style="--color-pro: #ff5959"></li>
                              <li style="--color-pro: #525252"></li>
                            </ul>
                            <div class="price">
                              <span class="sale">1.249.000 đ</span>
                              <span class="old">1.249.000 đ</span>
                            </div>
                          </div>
                          <div class="tag">
                            <span class="tag-item">
                              <svg>
                                <use xlink:href="#icon-thunder"></use>
                              </svg>
                              20%
                            </span>
                          </div>
                          <div class="compare">
                            <span class="compare-item">
                              So sánh
                              <svg>
                                <use xlink:href="#icon-plus"></use>
                              </svg>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="products-grid--item">
                        <div class="product">
                          <a class="product-img" href="san-pham-chi-tiet.html">
                            <img width="131" height="129" loading="lazy" fetchpriority="low"
                              src="images/sp-ud-2.jpg" alt="Tủ nhựa AE 5 tầng" />
                          </a>
                          <div class="product-txt">
                            <div class="model">Model: 1200000454</div>
                            <h3 class="name"><a href="san-pham-chi-tiet.html">Tủ nhựa AE 5 tầng</a></h3>
                            <ul class="color">
                              <li style="--color-pro: #ff5959"></li>
                              <li style="--color-pro: #525252"></li>
                            </ul>
                            <div class="price">
                              <span class="sale">1.249.000 đ</span>
                              <span class="old">1.249.000 đ</span>
                            </div>
                          </div>
                          <div class="tag">
                            <span class="tag-item">New</span>
                          </div>
                          <div class="compare">
                            <span class="compare-item">
                              So sánh
                              <svg>
                                <use xlink:href="#icon-plus"></use>
                              </svg>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="products-grid--item">
                        <div class="product">
                          <a class="product-img" href="san-pham-chi-tiet.html">
                            <img width="131" height="129" loading="lazy" fetchpriority="low"
                              src="images/sp-ud-3.jpg" alt="Ghế Ceto CNC" />
                          </a>
                          <div class="product-txt">
                            <div class="model">Model: 1200000454</div>
                            <h3 class="name"><a href="san-pham-chi-tiet.html">Ghế Ceto CNC</a></h3>
                            <div class="price">
                              <span class="sale">1.249.000 đ</span>
                              <span class="old">1.249.000 đ</span>
                            </div>
                          </div>
                          <div class="tag">
                            <span class="tag-item">New</span>
                          </div>
                          <div class="compare">
                            <span class="compare-item">
                              So sánh
                              <svg>
                                <use xlink:href="#icon-plus"></use>
                              </svg>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="products-grid--item">
                        <div class="product">
                          <a class="product-img" href="san-pham-chi-tiet.html">
                            <img width="131" height="129" loading="lazy" fetchpriority="low"
                              src="images/sp-ud-4.jpg" alt="Bàn sinh viên inox Deli" />
                          </a>
                          <div class="product-txt">
                            <div class="model">Model: 1200000454</div>
                            <h3 class="name"><a href="san-pham-chi-tiet.html">Bàn sinh viên inox Deli</a></h3>
                            <ul class="color">
                              <li style="--color-pro: #ff5959"></li>
                              <li style="--color-pro: #525252"></li>
                            </ul>
                            <div class="price">
                              <span class="sale">1.249.000 đ</span>
                              <span class="old">1.249.000 đ</span>
                            </div>
                          </div>
                          <div class="tag">
                            <span class="tag-item">New</span>
                          </div>
                          <div class="compare">
                            <span class="compare-item">
                              So sánh
                              <svg>
                                <use xlink:href="#icon-plus"></use>
                              </svg>
                            </span>
                          </div>
                        </div>
                      </div>

                      <div class="products-grid--item">
                        <div class="product">
                          <a class="product-img" href="san-pham-chi-tiet.html">
                            <img width="131" height="129" loading="lazy" fetchpriority="low"
                              src="images/sp-ud-1.jpg" alt="Võng Inox Deli" />
                          </a>
                          <div class="product-txt">
                            <div class="model">Model: 1200000454</div>
                            <h3 class="name"><a href="san-pham-chi-tiet.html">Võng Inox Deli</a></h3>
                            <ul class="color">
                              <li style="--color-pro: #ff5959"></li>
                              <li style="--color-pro: #525252"></li>
                            </ul>
                            <div class="price">
                              <span class="sale">1.249.000 đ</span>
                              <span class="old">1.249.000 đ</span>
                            </div>
                          </div>
                          <div class="tag">
                            <span class="tag-item">
                              <svg>
                                <use xlink:href="#icon-thunder"></use>
                              </svg>
                              20%
                            </span>
                          </div>
                          <div class="compare">
                            <span class="compare-item">
                              So sánh
                              <svg>
                                <use xlink:href="#icon-plus"></use>
                              </svg>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="products-grid--item">
                        <div class="product">
                          <a class="product-img" href="san-pham-chi-tiet.html">
                            <img width="131" height="129" loading="lazy" fetchpriority="low"
                              src="images/sp-ud-2.jpg" alt="Tủ nhựa AE 5 tầng" />
                          </a>
                          <div class="product-txt">
                            <div class="model">Model: 1200000454</div>
                            <h3 class="name"><a href="san-pham-chi-tiet.html">Tủ nhựa AE 5 tầng</a></h3>
                            <ul class="color">
                              <li style="--color-pro: #ff5959"></li>
                              <li style="--color-pro: #525252"></li>
                            </ul>
                            <div class="price">
                              <span class="sale">1.249.000 đ</span>
                              <span class="old">1.249.000 đ</span>
                            </div>
                          </div>
                          <div class="tag">
                            <span class="tag-item">New</span>
                          </div>
                          <div class="compare">
                            <span class="compare-item">
                              So sánh
                              <svg>
                                <use xlink:href="#icon-plus"></use>
                              </svg>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="products-grid--item">
                        <div class="product">
                          <a class="product-img" href="san-pham-chi-tiet.html">
                            <img width="131" height="129" loading="lazy" fetchpriority="low"
                              src="images/sp-ud-3.jpg" alt="Ghế Ceto CNC" />
                          </a>
                          <div class="product-txt">
                            <div class="model">Model: 1200000454</div>
                            <h3 class="name"><a href="san-pham-chi-tiet.html">Ghế Ceto CNC</a></h3>
                            <div class="price">
                              <span class="sale">1.249.000 đ</span>
                              <span class="old">1.249.000 đ</span>
                            </div>
                          </div>
                          <div class="tag">
                            <span class="tag-item">New</span>
                          </div>
                          <div class="compare">
                            <span class="compare-item">
                              So sánh
                              <svg>
                                <use xlink:href="#icon-plus"></use>
                              </svg>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="products-grid--item">
                        <div class="product">
                          <a class="product-img" href="san-pham-chi-tiet.html">
                            <img width="131" height="129" loading="lazy" fetchpriority="low"
                              src="images/sp-ud-4.jpg" alt="Bàn sinh viên inox Deli" />
                          </a>
                          <div class="product-txt">
                            <div class="model">Model: 1200000454</div>
                            <h3 class="name"><a href="san-pham-chi-tiet.html">Bàn sinh viên inox Deli</a></h3>
                            <ul class="color">
                              <li style="--color-pro: #ff5959"></li>
                              <li style="--color-pro: #525252"></li>
                            </ul>
                            <div class="price">
                              <span class="sale">1.249.000 đ</span>
                              <span class="old">1.249.000 đ</span>
                            </div>
                          </div>
                          <div class="tag">
                            <span class="tag-item">New</span>
                          </div>
                          <div class="compare">
                            <span class="compare-item">
                              So sánh
                              <svg>
                                <use xlink:href="#icon-plus"></use>
                              </svg>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="products-grid--item">
                        <div class="product">
                          <a class="product-img" href="san-pham-chi-tiet.html">
                            <img width="131" height="129" loading="lazy" fetchpriority="low"
                              src="images/sp-ud-1.jpg" alt="Võng Inox Deli" />
                          </a>
                          <div class="product-txt">
                            <div class="model">Model: 1200000454</div>
                            <h3 class="name"><a href="san-pham-chi-tiet.html">Võng Inox Deli</a></h3>
                            <ul class="color">
                              <li style="--color-pro: #ff5959"></li>
                              <li style="--color-pro: #525252"></li>
                            </ul>
                            <div class="price">
                              <span class="sale">1.249.000 đ</span>
                              <span class="old">1.249.000 đ</span>
                            </div>
                          </div>
                          <div class="tag">
                            <span class="tag-item">
                              <svg>
                                <use xlink:href="#icon-thunder"></use>
                              </svg>
                              20%
                            </span>
                          </div>
                          <div class="compare">
                            <span class="compare-item">
                              So sánh
                              <svg>
                                <use xlink:href="#icon-plus"></use>
                              </svg>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="products-grid--item">
                        <div class="product">
                          <a class="product-img" href="san-pham-chi-tiet.html">
                            <img width="131" height="129" loading="lazy" fetchpriority="low"
                              src="images/sp-ud-2.jpg" alt="Tủ nhựa AE 5 tầng" />
                          </a>
                          <div class="product-txt">
                            <div class="model">Model: 1200000454</div>
                            <h3 class="name"><a href="san-pham-chi-tiet.html">Tủ nhựa AE 5 tầng</a></h3>
                            <ul class="color">
                              <li style="--color-pro: #ff5959"></li>
                              <li style="--color-pro: #525252"></li>
                            </ul>
                            <div class="price">
                              <span class="sale">1.249.000 đ</span>
                              <span class="old">1.249.000 đ</span>
                            </div>
                          </div>
                          <div class="tag">
                            <span class="tag-item">New</span>
                          </div>
                          <div class="compare">
                            <span class="compare-item">
                              So sánh
                              <svg>
                                <use xlink:href="#icon-plus"></use>
                              </svg>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="products-grid--item">
                        <div class="product">
                          <a class="product-img" href="san-pham-chi-tiet.html">
                            <img width="131" height="129" loading="lazy" fetchpriority="low"
                              src="images/sp-ud-3.jpg" alt="Ghế Ceto CNC" />
                          </a>
                          <div class="product-txt">
                            <div class="model">Model: 1200000454</div>
                            <h3 class="name"><a href="san-pham-chi-tiet.html">Ghế Ceto CNC</a></h3>
                            <div class="price">
                              <span class="sale">1.249.000 đ</span>
                              <span class="old">1.249.000 đ</span>
                            </div>
                          </div>
                          <div class="tag">
                            <span class="tag-item">New</span>
                          </div>
                          <div class="compare">
                            <span class="compare-item">
                              So sánh
                              <svg>
                                <use xlink:href="#icon-plus"></use>
                              </svg>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="products-grid--item">
                        <div class="product">
                          <a class="product-img" href="san-pham-chi-tiet.html">
                            <img width="131" height="129" loading="lazy" fetchpriority="low"
                              src="images/sp-ud-4.jpg" alt="Bàn sinh viên inox Deli" />
                          </a>
                          <div class="product-txt">
                            <div class="model">Model: 1200000454</div>
                            <h3 class="name"><a href="san-pham-chi-tiet.html">Bàn sinh viên inox Deli</a></h3>
                            <ul class="color">
                              <li style="--color-pro: #ff5959"></li>
                              <li style="--color-pro: #525252"></li>
                            </ul>
                            <div class="price">
                              <span class="sale">1.249.000 đ</span>
                              <span class="old">1.249.000 đ</span>
                            </div>
                          </div>
                          <div class="tag">
                            <span class="tag-item">New</span>
                          </div>
                          <div class="compare">
                            <span class="compare-item">
                              So sánh
                              <svg>
                                <use xlink:href="#icon-plus"></use>
                              </svg>
                            </span>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </section>
            <%= htmlWebpackPlugin.options.lookbookRelated%>
              <%= htmlWebpackPlugin.options.registerPromotion %>
        </div>
        <%= htmlWebpackPlugin.options.footer %>
  </div>
  <!--Script-->
  <script defer src="js/common.js"></script>
  <script defer src="js/swiper-bundle.js"></script>
  <script defer src="js/lookbook_main.js"></script>
  <%= htmlWebpackPlugin.options.preload %>
</body>

</html>