<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="utf-8" />
  <meta name="google" content="notranslate" />
  <meta name="robots" content="index, follow" />
  <meta name="author" content="Qui Phúc" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no" />
  <title>Qui Phúc | Sản phẩm</title>
  <meta name="description" content="Qui Phúc" />
  <meta name="keywords" content="Qui Phúc" />
  <meta name="theme-color" content="#fff" />
  <meta property="og:title" content="Qui Phúc" />
  <meta property="og:description" content="Qui Phúc" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="images/thumbnail.jpg" />
  <meta property="og:site_name" content="Qui Phúc" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="apple-mobile-web-app-title" content="Qui Phúc" />
  <link rel="icon" href="images/favicon.png" />
  <link href="css/critical.css" rel="preload stylesheet" as="style">
  <link rel="stylesheet" href="css/product_list.css">
</head>

<body data-page="products">
  <div class="page">
    <%= htmlWebpackPlugin.options.svg %>
      <%= htmlWebpackPlugin.options.header%>
        <div class="main">
          <div class="breadcrumb">
            <ul>
              <li>
                <a href="/"><span>Trang chủ</span></a>
              </li>
              <li><span>/</span></li>
              <li>
                <a href="#"><span>Sản phẩm</span></a>
              </li>
              <li><span>/</span></li>
              <li><span>Ghế</span></li>
            </ul>
          </div>
          <%= htmlWebpackPlugin.options.listBannerComponent %>
            <%= htmlWebpackPlugin.options.listProductComponent %>
              <%= htmlWebpackPlugin.options.registerPromotion %>
        </div>
        <%= htmlWebpackPlugin.options.footer %>
  </div>
  <!--Script-->
  <script defer src="js/common.js"></script>
  <script defer src="js/jquery.js"></script>
  <script defer src="js/jquery-ui.js"></script>
  <script defer src="js/product_list_main.js"></script>
  <%= htmlWebpackPlugin.options.preload %>
    <!--popup-->
    <div class="popup" id="comparePop">
      <div class="popup-inr">
        <div class="compare-pop">
          <div class="compare-title">SO SÁNH SẢN PHẨM <div class="popup-close">
              <img width="24" height="24" src="images/icon-close.svg" alt="close" />
            </div>
          </div>
          <div class="compare-content">
            <div class="compare-row">
              <div class="compare-name"><span>Sản phẩm</span></div>
              <div class="compare-data">
                <div class="compare-col">
                  <div class="product">
                    <div class="product-img">
                      <img width="225" height="222" loading="lazy" fetchpriority="low" src="images/collection-1.png"
                        alt="Ghế đẩu inox kiềng - Đặt riêng" />
                    </div>
                    <div class="product-txt">
                      <div class="model">Model: 1200000454</div>
                      <h3 class="name">Ghế đẩu inox kiềng - Đặt riêng</h3>
                    </div>
                    <div class="product-cart">
                      <button type="button" class="link-but">
                        <svg>
                          <use xlink:href="#icon-cart"></use>
                        </svg>
                        Thêm vào giỏ hàng
                      </button>
                    </div>
                    <div class="product-close">
                      <svg>
                        <use xlink:href="#icon-close"></use>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="compare-col">
                  <div class="product">
                    <div class="product-img">
                      <img width="225" height="222" loading="lazy" fetchpriority="low" src="images/collection-1.png"
                        alt="Ghế đẩu inox kiềng - Đặt riêng" />
                    </div>
                    <div class="product-txt">
                      <div class="model">Model: 1200000454</div>
                      <h3 class="name">Ghế đẩu inox kiềng - Đặt riêng</h3>
                    </div>
                    <div class="product-cart">
                      <button type="button" class="link-but">
                        <svg>
                          <use xlink:href="#icon-cart"></use>
                        </svg>
                        Thêm vào giỏ hàng
                      </button>
                    </div>
                    <div class="product-close">
                      <svg>
                        <use xlink:href="#icon-close"></use>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="compare-col">
                  <div class="product">
                    <div class="product-img">
                      <img width="225" height="222" loading="lazy" fetchpriority="low" src="images/collection-1.png"
                        alt="Ghế đẩu inox kiềng - Đặt riêng" />
                    </div>
                    <div class="product-txt">
                      <div class="model">Model: 1200000454</div>
                      <h3 class="name">Ghế đẩu inox kiềng - Đặt riêng</h3>
                    </div>
                    <div class="product-cart">
                      <button type="button" class="link-but">
                        <svg>
                          <use xlink:href="#icon-cart"></use>
                        </svg>
                        Thêm vào giỏ hàng
                      </button>
                    </div>
                    <div class="product-close">
                      <svg>
                        <use xlink:href="#icon-close"></use>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="compare-row">
              <div class="compare-name"><span>Giá</span></div>
              <div class="compare-data">
                <div class="compare-col">
                  <div class="price">
                    <span class="price-main">1.981.980đ</span>
                    <span class="price-sale">2.43.000đ</span>
                    <span class="price-tag">
                      <svg>
                        <use xlink:href="#icon-thunder"></use>
                      </svg>
                      20%
                    </span>
                  </div>
                </div>
                <div class="compare-col">
                  <div class="price">
                    <span class="price-main">1.981.980đ</span>
                    <span class="price-sale">2.43.000đ</span>
                    <span class="price-tag">
                      <svg>
                        <use xlink:href="#icon-thunder"></use>
                      </svg>
                      20%
                    </span>
                  </div>
                </div>
                <div class="compare-col">
                  <div class="price">
                    <span class="price-main">1.981.980đ</span>
                    <span class="price-sale">2.43.000đ</span>
                    <span class="price-tag">
                      <svg>
                        <use xlink:href="#icon-thunder"></use>
                      </svg>
                      20%
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="compare-row">
              <div class="compare-name"><span>Màu sắc</span></div>
              <div class="compare-data">
                <div class="compare-col">
                  <div class="color">
                    <span class="color-circle" style="--color:#F52B2E"></span>
                    Đỏ
                  </div>
                </div>
                <div class="compare-col">
                  <div class="color">
                    <span class="color-circle" style="--color:#83CE48"></span>
                    Xanh lá
                  </div>
                </div>
                <div class="compare-col">
                  <div class="color">
                    <span class="color-circle" style="--color:#FFC44B"></span>
                    Vàng
                  </div>
                </div>
              </div>
            </div>
            <div class="compare-row">
              <div class="compare-name"><span>Kích thước</span></div>
              <div class="compare-data">
                <div class="compare-col">
                  <div class="size">
                    + Xếp: 1000 x 450 x 85mm <br>+ Mở: 500 x 450 x 840mm
                  </div>
                </div>
                <div class="compare-col">
                  <div class="size">
                    + Xếp: 1000 x 450 x 85mm <br>+ Mở: 500 x 450 x 840mm
                  </div>
                </div>
                <div class="compare-col">
                  <div class="size">
                    + Xếp: 1000 x 450 x 85mm <br>Mở: 500 x 450 x 840mm
                  </div>
                </div>
              </div>
            </div>
            <div class="compare-row">
              <div class="compare-name"><span>Chất liệu</span></div>
              <div class="compare-data">
                <div class="compare-col">
                  <div class="material">Inox 201</div>
                </div>
                <div class="compare-col">
                  <div class="material">Inox 201</div>
                </div>
                <div class="compare-col">
                  <div class="material">Inox 201</div>
                </div>
              </div>
            </div>
            <div class="compare-row">
              <div class="compare-name"><span>Vật liệu</span></div>
              <div class="compare-data">
                <div class="compare-col">
                  <div class="material">Inox 201</div>
                </div>
                <div class="compare-col">
                  <div class="material">Inox 201</div>
                </div>
                <div class="compare-col">
                  <div class="material">Inox 201</div>
                </div>
              </div>
            </div>
            <div class="compare-row">
              <div class="compare-name"><span>Dòng SP</span></div>
              <div class="compare-data">
                <div class="compare-col">
                  <div class="cate">DONA</div>
                </div>
                <div class="compare-col">
                  <div class="cate">FELIX</div>
                </div>
                <div class="compare-col">
                  <div class="cate">DELI</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/popup-->
</body>

</html>