<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="utf-8" />
  <meta name="google" content="notranslate" />
  <meta name="robots" content="index, follow" />
  <meta name="author" content="Qui Phúc" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no" />
  <title>Qui Phúc | Về  Qui Phúc</title>
  <meta name="description" content="Qui Phúc" />
  <meta name="keywords" content="Qui Phúc" />
  <meta name="theme-color" content="#fff" />
  <meta property="og:title" content="Qui Phúc" />
  <meta property="og:description" content="Qui Phúc" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="images/thumbnail.jpg" />
  <meta property="og:site_name" content="Qui Phúc" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="apple-mobile-web-app-title" content="Qui Phúc" />
  <link rel="icon" href="images/favicon.png" />
  <link href="css/about.css" rel="preload stylesheet" as="style" />
</head>

<body data-page="about">
  <div class="page">
      <%= htmlWebpackPlugin.options.svg %>
      <%= htmlWebpackPlugin.options.header%>
        <div class="main">
        <%= htmlWebpackPlugin.options.aboutComponent %>
        <%= htmlWebpackPlugin.options.commit %>
        <%= htmlWebpackPlugin.options.componentPartner %>
        <%= htmlWebpackPlugin.options.aboutHistoryComponent %>
        <%= htmlWebpackPlugin.options.aboutVisionComponent %>
        <%= htmlWebpackPlugin.options.registerPromotion %>
        </div>
        <%= htmlWebpackPlugin.options.footer %>
  </div>
  <!--Script-->
  <%= htmlWebpackPlugin.options.preload %>_
  <script defer src="js/common.js"></script>
  <script defer src="js/about_main.js"></script>
</body>

</html>